In [8]:
import pandas as pd
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder \
    .appName("SparkSQLExample") \
    .getOrCreate()

folder_path = "data"
for f in os.listdir(folder_path):
    if f.endswith('.csv'):
        df = spark.read.csv(f"data/{f}", header=True, inferSchema=True)
        print(f)
        df.show()
        print(df.columns)

features_attributes.csv
+-----------+-----------------+---+-----------+-------------+-------------+
|Customer_ID|             Name|Age|        SSN|   Occupation|snapshot_date|
+-----------+-----------------+---+-----------+-------------+-------------+
| CUS_0x1000|   Alistair Barrf| 18|913-74-1218|       Lawyer|   2023-05-01|
| CUS_0x1009|           Arunah| 26|063-67-6938|     Mechanic|   2025-01-01|
| CUS_0x100b|         Shirboni| 19|  #F%$D@*&8|Media_Manager|   2024-03-01|
| CUS_0x1011|        Schneyerh| 44|793-05-8223|       Doctor|   2023-11-01|
| CUS_0x1013|         Cameront| 44|930-49-9615|     Mechanic|   2023-12-01|
| CUS_0x1015|          Holtono| 27|810-97-7024|   Journalist|   2023-08-01|
| CUS_0x1018|      Felsenthalq| 15|731-19-8119|   Accountant|   2023-11-01|
| CUS_0x1026|          Josephv| 52|500-62-9044|      Manager|   2023-10-01|
| CUS_0x102d| Neil Chatterjeex| 31|692-71-7552| Entrepreneur|   2024-01-01|
| CUS_0x102e|            Rhysn| 26|  #F%$D@*&8|    Scientist|   2024-04-01|
| CUS_0x1032|           Wahbap|40_|620-58-8045|       Lawyer|   2023-08-01|
| CUS_0x1037|         Matthewm| 45|230-22-9583|   Accountant|   2023-01-01|
| CUS_0x1038|              B.h| 28|355-00-7832|    Architect|   2024-10-01|
| CUS_0x103e|       Tim Kellyf| 40|155-72-8070|    Scientist|   2024-12-01|
| CUS_0x1041|Jonathan Stempela| 15|675-80-2033|      Teacher|   2023-11-01|
| CUS_0x1044|    Maki Shirakip| 44|  #F%$D@*&8|      _______|   2023-06-01|
| CUS_0x1048|   Janet McGurtyg| 27|808-81-2470|   Accountant|   2024-02-01|
| CUS_0x104a|            Leahk| 37|  #F%$D@*&8|     Mechanic|   2023-12-01|
| CUS_0x104e|         Kentaros| 50|837-93-5062|      Teacher|   2023-06-01|
| CUS_0x104f|            Markm| 20|264-84-8069|      _______|   2024-10-01|
+-----------+-----------------+---+-----------+-------------+-------------+
only showing top 20 rows

['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']
features_financials.csv
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
|Customer_ID|     Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|snapshot_date|
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
| CUS_0x1000|          30625.94|   2706.1616666666664|                6|              5|           27|          2|Credit-Builder Lo...|                 57|                    26|                1.63|                11.0|       Bad|         1562.91|       30.07719135017377|10 Years and 9 Mo...|                  Yes| 42.941090422469365|      77.31427572208112|High_spent_Medium...|400.36080052211616|   2023-05-01|
| CUS_0x1009|         52312.68_|              4250.39|                6|              5|           17|          4|Not Specified, Ho...|                  5|                    18|                9.73|                 4.0|         _|          202.68|         40.286996673783|31 Years and 0 Mo...|                  Yes| 108.36646712525564|      58.66019164829086|High_spent_Medium...|508.01234122645366|   2025-01-01|
| CUS_0x100b|113781.38999999998|            9549.7825|                1|              4|            1|          0|                NULL|                 14|                     8|                8.34|                 4.0|      Good|          1030.2|       28.59294254083936|15 Years and 10 M...|                   No|                0.0|      617.0792665202719|High_spent_Small_...| 597.8989834797281|   2024-03-01|
| CUS_0x1011|          58918.47|            5208.8725|                3|              3|           17|          3|Student Loan, Cre...|                 27|                    13|               14.42|                 7.0|  Standard|          473.14|       27.82995907548726|15 Years and 10 M...|                  Yes| 123.43493879634316|     383.35084463651407|Low_spent_Medium_...| 294.1014665671429|   2023-11-01|
| CUS_0x1013|          98620.98|    7962.415000000001|                3|              3|            6|          3|Student Loan, Deb...|                 12|                     9|                1.33|                 3.0|      Good|         1233.51|       26.52486357896023|17 Years and 10 M...|                   No|   228.018083652734|      332.3337079767732|High_spent_Medium...| 485.8897083704929|   2023-12-01|
| CUS_0x1015|          46951.02|             3725.585|                7|              4|           16|          0|                NULL|                  8|                     9|               15.83|                 9.0|  Standard|          340.22|       38.68223175011704|21 Years and 5 Mo...|                   NM|                0.0|      437.4339945818671|Low_spent_Small_v...|225.12450541813288|   2023-08-01|
| CUS_0x1018|          61194.81|            5014.5675|                7|              7|           23|          8|Credit-Builder Lo...|                 19|                    22|               28.63|                 8.0|       Bad|         2773.09|      27.268457710529688|14 Years and 3 Mo...|                  Yes|  225.3686913764476|     166.53062988488216|High_spent_Medium...|359.55742873867035|   2023-11-01|
| CUS_0x1026|         170614.28|   14463.856666666668|                2|              6|            9|          2|Payday Loan, and ...|                  0|                     5|                0.73|                 3.0|      Good|          849.69|       31.75752065713533|20 Years and 8 Mo...|                   No| 208.90747938201577|     184.27787149576235|High_spent_Medium...|1303.2003157888887|   2023-10-01|
| CUS_0x102d|          89064.52|    7256.043333333334|                5|              3|            1|          1|       Mortgage Loan|                  6|                     5|                6.37|                 3.0|         _|          648.36|       30.57429935886147|30 Years and 3 Mo...|                   No|  37.57275058079424|     296.09411909412466|High_spent_Medium...| 641.9374636584146|   2024-01-01|
| CUS_0x102e|          50807.44|    4197.953333333334|                8|              4|           11|          4|Mortgage Loan, No...|                 12|                     9|                 2.6|                 4.0|         _|          869.59|      30.311454014148158|22 Years and 10 M...|                   NM|  88.75991924748364|      65.27556452739218|High_spent_Medium...| 515.7598495584575|   2024-04-01|
| CUS_0x1032|          60410.94|             5274.245|                4|              7|           17|          4|Student Loan, Hom...|                 24|                     9|               10.65|                 9.0|  Standard|         1852.86|       31.80839553625598|16 Years and 3 Mo...|                  Yes|  149.9263873826631|      481.4927768814807|              !@9#%8|176.00533573585616|   2023-08-01|
| CUS_0x1037|         15989.085|           1086.42375|                5|              4|            2|          4|Credit-Builder Lo...|                 13|                    15|                 0.5|                 3.0|      Good|          665.82|       40.69769934536393|19 Years and 9 Mo...|                   No| 33.797020629881075|      80.46523951443457|Low_spent_Small_v...| 284.3801148556844|   2023-01-01|
| CUS_0x1038|         129473.16|             10959.43|                3|              4|           10|          3|Payday Loan, Payd...|                 28|                    13|                8.61|                10.0|  Standard|          568.21|      34.089318015879286|20 Years and 0 Mo...|                  Yes| 255.32790499097848|     1088.2714495635144|Low_spent_Medium_...| 32.34364544550715|   2024-10-01|
| CUS_0x103e|           98690.8|    8262.233333333334|                4|              6|            9|         1_|        Student Loan|                  6|                    17|               10.76|                 4.0|      Good|          706.96|      26.860663456485163|26 Years and 11 M...|                   No| 55.004407569291885|      913.4813186573292|Low_spent_Small_v...| 147.7376071067124|   2024-12-01|
| CUS_0x1041|           8978.11|    894.1758333333332|                8|              8|           30|          9|Payday Loan, Mort...|                 50|                    17|               18.48|                10.0|       Bad|         4913.15|       37.74656726266676|10 Years and 5 Mo...|                  Yes|  57.67965790681974|      43.56585814621352|High_spent_Small_...| 248.1720672803001|   2023-11-01|
| CUS_0x1044|          33441.59|    2748.799166666666|                2|              4|            1|          0|                NULL|                  1|                     4|                9.58|                 5.0|         _|          154.96|      35.984108540767004|31 Years and 11 M...|                   No|                0.0|     229.53226071473443|Low_spent_Small_v...|335.34765595193227|   2023-06-01|
| CUS_0x1048|          42387.54|             3680.295|                3|              7|           26|          7|Personal Loan, No...|                  9|                     8|               10.34|                 7.0|  Standard|         1835.67|       28.75306000732747|10 Years and 0 Mo...|                  Yes|   225.883368970478|     133.51336229583663|High_spent_Small_...| 268.6327687336854|   2024-02-01|
| CUS_0x104a|          14981.39|   1461.4491666666663|                2|              7|            5|          4|Mortgage Loan, Au...|                  5|                     6|                0.63|                 4.0|      Good|         1122.46|       39.64164181721113|32 Years and 3 Mo...|                   No|  38.11596751942855|     164.88918149049954|Low_spent_Small_v...|233.13976765673854|   2023-12-01|
| CUS_0x104e|          19180.87|    1688.405833333333|                8|              4|           18|          4|Debt Consolidatio...|                  5|                    17|                9.32|                 6.0|  Standard|         1127.57|       29.46533771819808|25 Years and 2 Mo...|                   No|  57.36421100960239|     107.98322725525713|High_spent_Small_...|263.49314506847384|   2023-06-01|
| CUS_0x104f|         11336.835|            992.73625|                4|              6|           14|          6|Auto Loan, Payday...|                 30|                    19|               16.44|                 7.0|         _|          177.98|       37.71745659884346|14 Years and 10 M...|                   NM|  35.56273086250209|     133.79735014337106|Low_spent_Small_v...|219.91354399412685|   2024-10-01|
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
only showing top 20 rows

['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'snapshot_date']
feature_clickstream.csv
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  63| 118|  80| 121|  55| 193| 111| 112|-101|   83|  164|  105|  -16|  -81| -126|  114|   35|   85|  -73|   76| CUS_0x1037|   2023-01-01|
|-108| 182| 123|   4| -56|  27|  25|  -6| 284|  222|  203|  190|  -14|  -96|  200|   35|  130|   94|  111|   75| CUS_0x1069|   2023-01-01|
| -13|   8|  87| 166| 214| -98| 215| 152| 129|  139|   14|  203|   26|   86|  171|  125| -130|  354|   17|  302| CUS_0x114a|   2023-01-01|
| -85|  45| 200|  89| 128|  54|  76|  51|  61|  139|    6|  197|  172|   96|  174|  163|   37|  207|  180|  118| CUS_0x1184|   2023-01-01|
|  55| 120| 226| -86| 253|  97| 107|  68| 103|  126|   34|   12|   76|   43|  183|  159|  -26|  104|  118|  184| CUS_0x1297|   2023-01-01|
|-133| 114| 138|  84|  53| -60|  60| 128| 349|  102|  -70| -138|  200|  168|   32|  -85|   91|  185|  134|  -28| CUS_0x12fb|   2023-01-01|
|  67| 155|  24| -16| 205|  80| 355| 140| 201|   87|  130|   86|   71|   72|   78|  238|   96|  147|   51|  155| CUS_0x1325|   2023-01-01|
| -64|  93|  36|  -1|   3| 183|-129| 122| 164|  138|   60|  140|  143|   90|  354|  280|  121|  159|  -81|  -27| CUS_0x1341|   2023-01-01|
| 167|  37| 169| 155|   4| 151|  99| 192| -64| -207|   63|  241|  167|   43|  216|  287|  115|  183|   66|   55| CUS_0x1375|   2023-01-01|
| 356| -23|  -4| -46|  80| 167| 258| 174| 104|   65|  133|  -75|  145|  211|  140|  113|   31|  136|   36|  125| CUS_0x13a8|   2023-01-01|
| 100|  35|  58| -18|  69|  66| 136|  65| 265|   18|  148|   -8|   -1|  217|   73|  102|   54|  -74|  150|  147| CUS_0x13ef|   2023-01-01|
| 148| -15|  40|  40|  54|-147|  85| 339|  50|   96|  149|   97|   12|  337|  145|   85|   39|  -86|  313|  225| CUS_0x1440|   2023-01-01|
| 127|  90| -98| 200| -34| 178|  -6| 107|  25|   40|  -33|  114|  167|   36|  183|  170|  -72|  114|  -37|  283| CUS_0x1443|   2023-01-01|
| 123| 256| 187|  29| 193| 138| 183| 185| 291|   97|   38|   38|   99|  -61|  242| -168|   54|  147|  183|  157| CUS_0x145a|   2023-01-01|
| 115|  99| -27|  18| 135| -18| 294| 184| 230|  -69|  -80|   50|  155|  136|   54|  152|  182|   85| -136|  254| CUS_0x1492|   2023-01-01|
| 101|  58|  19| 167| -87|  73| 336| 114| 169|   38|  -48|  224|   22|   54|  146|  260| -180|  241|  144|   78| CUS_0x153d|   2023-01-01|
| -97|-106|  78| 185|  45|  20| 155| -61| 168|  101|   88|  278|  217|  123|  125|  308|   78|  -32|  198|  106| CUS_0x1567|   2023-01-01|
| 303|  78| 139| 239|  29| 151|  -1| 165| 110|  307|   82|  211|   77|  149|  -46|  210|  199|  199|  150|  269| CUS_0x15ad|   2023-01-01|
| 153| 135|  73| 188| 209| 171| 143|  51| 137|  359|  113|  159|   10|  262|  181|   -7|  232|  -84|  116|   60| CUS_0x1630|   2023-01-01|
| 146|  84| 195| 269| 135| 108| 125| 177|  94|  371|  168|  140|  196|   86|   53|  150|  222|  250|  146|  -83| CUS_0x169c|   2023-01-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
only showing top 20 rows

['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9', 'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17', 'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date']
lms_loan_daily.csv
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
|             loan_id|Customer_ID|loan_start_date|tenure|installment_num|loan_amt|due_amt|paid_amt|overdue_amt|balance|snapshot_date|
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              0|   10000|    0.0|     0.0|        0.0|10000.0|   2023-05-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              1|   10000| 1000.0|  1000.0|        0.0| 9000.0|   2023-06-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              2|   10000| 1000.0|  1000.0|        0.0| 8000.0|   2023-07-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              3|   10000| 1000.0|     0.0|     1000.0| 8000.0|   2023-08-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              4|   10000| 1000.0|  2000.0|        0.0| 6000.0|   2023-09-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              5|   10000| 1000.0|     0.0|     1000.0| 6000.0|   2023-10-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              6|   10000| 1000.0|     0.0|     2000.0| 6000.0|   2023-11-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              7|   10000| 1000.0|     0.0|     3000.0| 6000.0|   2023-12-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              8|   10000| 1000.0|     0.0|     4000.0| 6000.0|   2024-01-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              9|   10000| 1000.0|     0.0|     5000.0| 6000.0|   2024-02-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|             10|   10000| 1000.0|     0.0|     6000.0| 6000.0|   2024-03-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              0|   10000|    0.0|     0.0|        0.0|10000.0|   2025-01-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              1|   10000| 1000.0|  1000.0|        0.0| 9000.0|   2025-02-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              2|   10000| 1000.0|  1000.0|        0.0| 8000.0|   2025-03-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              3|   10000| 1000.0|  1000.0|        0.0| 7000.0|   2025-04-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              4|   10000| 1000.0|  1000.0|        0.0| 6000.0|   2025-05-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              5|   10000| 1000.0|  1000.0|        0.0| 5000.0|   2025-06-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              6|   10000| 1000.0|  1000.0|        0.0| 4000.0|   2025-07-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              7|   10000| 1000.0|  1000.0|        0.0| 3000.0|   2025-08-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              8|   10000| 1000.0|  1000.0|        0.0| 2000.0|   2025-09-01|
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
only showing top 20 rows

['loan_id', 'Customer_ID', 'loan_start_date', 'tenure', 'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt', 'balance', 'snapshot_date']

In [68]:
attributes = spark.read.csv("data/features_attributes.csv", header=True, inferSchema=True)
attributes.createOrReplaceTempView('attributes')

print(attributes.columns)

query = spark.sql(
    """
    SELECT * FROM attributes
    WHERE Customer_ID = "CUS_0x1000"
    ORDER BY Customer_ID, snapshot_date
    """
)

query.show()

['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']
+-----------+--------------+---+-----------+----------+-------------+
|Customer_ID|          Name|Age|        SSN|Occupation|snapshot_date|
+-----------+--------------+---+-----------+----------+-------------+
| CUS_0x1000|Alistair Barrf| 18|913-74-1218|    Lawyer|   2023-05-01|
+-----------+--------------+---+-----------+----------+-------------+

In [ ]:
clickstream = spark.read.csv("data/feature_clickstream.csv", header=True, inferSchema=True)
clickstream.createOrReplaceTempView('clickstream')


print(clickstream.columns)

query = spark.sql(
    """
    SELECT
        Customer_ID,
        snapshot_date,
        COUNT(snapshot_date) as distinct_entries
    FROM clickstream
    WHERE Customer_ID = "CUS_0x1000"
    GROUP BY Customer_ID, snapshot_date
    ORDER BY Customer_ID, snapshot_date
    """
)

query.show()

In [81]:
financials = spark.read.csv("data/features_financials.csv", header=True, inferSchema=True)
financials.createOrReplaceTempView('financials')

print(financials.columns)

query = spark.sql(
    """
    SELECT *
    FROM
        (
        SELECT
        DISTINCT Customer_ID,
        COUNT(*) OVER(PARTITION BY Customer_ID) as instances
        FROM attributes
        ) a
    WHERE instances > 1
    """
)

query.show(1000)

['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'snapshot_date']
+-----------+---------+
|Customer_ID|instances|
+-----------+---------+
+-----------+---------+

In [55]:
import os

folder_path = "data"
csv_files = [f[:-4] for f in os.listdir(folder_path) if f.endswith('.csv')]

csv_files

['features_attributes',
 'features_financials',
 'feature_clickstream',
 'lms_loan_daily']

In [58]:
bronze_directory = "datamart/bronze/"

file_name = "features_attributes/features_attributes.csv"
filepath = bronze_directory + file_name
df = spark.read.csv(filepath, header=True, inferSchema=True)
df.show()

import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType

# SSN is assumed to have xxx-xx-xxxx format
ssn_pattern = r"^\d{3}-\d{2}-\d{4}$"
df_clean = df.withColumn(
    "SSN",
    F.when(F.col("SSN").rlike(ssn_pattern), F.col("SSN")).otherwise(None)
)

# Create ssn_valid boolean
df_clean = df_clean.withColumn("ssn_valid",F.when(F.col("SSN").isNull(), 0).otherwise(1))

# Blank Occupations are cleaned
invalid_occ = ["_______", "", None]
df_clean = df_clean.withColumn("Occupation_clean", F.trim(F.col("Occupation"))) \
    .withColumn(
        "Occupation_clean",
        F.when(
            F.col("Occupation_clean")
            .isin(invalid_occ), 
            None)
        .otherwise(F.col("Occupation_clean"))
    )

# Remove white spaces on Name column
df_clean = df_clean.withColumn("Name", F.trim(F.col("Name")))

# Clean Age - assumed reasonable age is 15 to 100 years old
df_clean = df_clean.withColumn("Age_int", F.col("Age").cast(IntegerType()))
df_clean = df_clean.filter((F.col("Age_int") >= 15) & (F.col("Age_int") <= 100))

df_clean = df.withColumn("ssn_valid", F.when(F.col("SSN").rlike(r"^\d{3}-\d{2}-\d{4}$"), 1).otherwise(0)) \
             .withColumn("occupation_known", F.when(F.col("Occupation").isin("_______", "", None), 0).otherwise(1)) \
             .withColumn("age_valid", F.when((F.col("Age").cast("int").isNotNull()) & (F.col("Age") >= 15), 1).otherwise(0))

name_counts = df_clean.groupBy("Name").agg(F.count("*").alias("name_shared_count"))
df_with_name_count = df_clean.join(name_counts, on="Name", how="left")
df_with_name_count = df_with_name_count.withColumn("is_name_shared", F.when(F.col("name_shared_count") > 1, 1).otherwise(0))
df_with_name_count = df_with_name_count.drop("Name", "SSN",)

+-----------+-----------------+---+-----------+-------------+-------------+
|Customer_ID|             Name|Age|        SSN|   Occupation|snapshot_date|
+-----------+-----------------+---+-----------+-------------+-------------+
| CUS_0x1000|   Alistair Barrf| 18|913-74-1218|       Lawyer|   2023-05-01|
| CUS_0x1009|           Arunah| 26|063-67-6938|     Mechanic|   2025-01-01|
| CUS_0x100b|         Shirboni| 19|  #F%$D@*&8|Media_Manager|   2024-03-01|
| CUS_0x1011|        Schneyerh| 44|793-05-8223|       Doctor|   2023-11-01|
| CUS_0x1013|         Cameront| 44|930-49-9615|     Mechanic|   2023-12-01|
| CUS_0x1015|          Holtono| 27|810-97-7024|   Journalist|   2023-08-01|
| CUS_0x1018|      Felsenthalq| 15|731-19-8119|   Accountant|   2023-11-01|
| CUS_0x1026|          Josephv| 52|500-62-9044|      Manager|   2023-10-01|
| CUS_0x102d| Neil Chatterjeex| 31|692-71-7552| Entrepreneur|   2024-01-01|
| CUS_0x102e|            Rhysn| 26|  #F%$D@*&8|    Scientist|   2024-04-01|
| CUS_0x1032|           Wahbap|40_|620-58-8045|       Lawyer|   2023-08-01|
| CUS_0x1037|         Matthewm| 45|230-22-9583|   Accountant|   2023-01-01|
| CUS_0x1038|              B.h| 28|355-00-7832|    Architect|   2024-10-01|
| CUS_0x103e|       Tim Kellyf| 40|155-72-8070|    Scientist|   2024-12-01|
| CUS_0x1041|Jonathan Stempela| 15|675-80-2033|      Teacher|   2023-11-01|
| CUS_0x1044|    Maki Shirakip| 44|  #F%$D@*&8|      _______|   2023-06-01|
| CUS_0x1048|   Janet McGurtyg| 27|808-81-2470|   Accountant|   2024-02-01|
| CUS_0x104a|            Leahk| 37|  #F%$D@*&8|     Mechanic|   2023-12-01|
| CUS_0x104e|         Kentaros| 50|837-93-5062|      Teacher|   2023-06-01|
| CUS_0x104f|            Markm| 20|264-84-8069|      _______|   2024-10-01|
+-----------+-----------------+---+-----------+-------------+-------------+
only showing top 20 rows

+-----------+---+-------------+-------------+---------+----------------+---------+-----------------+--------------+
|Customer_ID|Age|   Occupation|snapshot_date|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|
+-----------+---+-------------+-------------+---------+----------------+---------+-----------------+--------------+
| CUS_0x1000| 18|       Lawyer|   2023-05-01|        1|               1|        1|                2|             1|
| CUS_0x1009| 26|     Mechanic|   2025-01-01|        1|               1|        1|                2|             1|
| CUS_0x100b| 19|Media_Manager|   2024-03-01|        0|               1|        1|                1|             0|
| CUS_0x1011| 44|       Doctor|   2023-11-01|        1|               1|        1|                2|             1|
| CUS_0x1013| 44|     Mechanic|   2023-12-01|        1|               1|        1|                1|             0|
| CUS_0x1015| 27|   Journalist|   2023-08-01|        1|               1|        1|                1|             0|
| CUS_0x1018| 15|   Accountant|   2023-11-01|        1|               1|        1|                3|             1|
| CUS_0x1026| 52|      Manager|   2023-10-01|        1|               1|        1|                1|             0|
| CUS_0x102d| 31| Entrepreneur|   2024-01-01|        1|               1|        1|                1|             0|
| CUS_0x102e| 26|    Scientist|   2024-04-01|        0|               1|        1|                1|             0|
| CUS_0x1032|40_|       Lawyer|   2023-08-01|        1|               1|        0|                3|             1|
| CUS_0x1037| 45|   Accountant|   2023-01-01|        1|               1|        1|                2|             1|
| CUS_0x1038| 28|    Architect|   2024-10-01|        1|               1|        1|                1|             0|
| CUS_0x103e| 40|    Scientist|   2024-12-01|        1|               1|        1|                2|             1|
| CUS_0x1041| 15|      Teacher|   2023-11-01|        1|               1|        1|                1|             0|
| CUS_0x1044| 44|      _______|   2023-06-01|        0|               0|        1|                1|             0|
| CUS_0x1048| 27|   Accountant|   2024-02-01|        1|               1|        1|                1|             0|
| CUS_0x104a| 37|     Mechanic|   2023-12-01|        0|               1|        1|                1|             0|
| CUS_0x104e| 50|      Teacher|   2023-06-01|        1|               1|        1|                1|             0|
| CUS_0x104f| 20|      _______|   2024-10-01|        1|               0|        1|                2|             1|
+-----------+---+-------------+-------------+---------+----------------+---------+-----------------+--------------+
only showing top 20 rows

In [31]:
df_clean.groupBy("SSN").count().orderBy("count", ascending=False).show()

+-----------+-----+
|        SSN|count|
+-----------+-----+
|  #F%$D@*&8|  644|
|706-59-9144|    1|
|508-88-3060|    1|
|564-87-3414|    1|
|118-02-3131|    1|
|808-03-9422|    1|
|595-90-1107|    1|
|571-04-7703|    1|
|154-09-5858|    1|
|942-65-9443|    1|
|218-40-1399|    1|
|296-46-9959|    1|
|579-02-1738|    1|
|738-19-2481|    1|
|136-53-7387|    1|
|368-07-2548|    1|
|916-37-8123|    1|
|945-83-2116|    1|
|347-65-8366|    1|
|214-44-4143|    1|
+-----------+-----+
only showing top 20 rows

In [45]:
df.where(F.col("Name") == "Wahbap").show()

+-----------+------+---+-----------+----------+-------------+
|Customer_ID|  Name|Age|        SSN|Occupation|snapshot_date|
+-----------+------+---+-----------+----------+-------------+
| CUS_0x1032|Wahbap|40_|620-58-8045|    Lawyer|   2023-08-01|
| CUS_0x508c|Wahbap| 49|212-99-0909|  Engineer|   2024-07-01|
| CUS_0x6f81|Wahbap| 17|075-05-3919|    Doctor|   2025-01-01|
+-----------+------+---+-----------+----------+-------------+

In [39]:
df_clean.groupBy("Name").count().orderBy("count", ascending=False).show(100)

+--------------------+-----+
|                Name|count|
+--------------------+-----+
|              Langep|    6|
|            Jessicad|    6|
|              Stevex|    6|
|                Kimj|    5|
|             Danielz|    5|
|       Jessica Wohlt|    5|
|              Jonesb|    5|
|               Nicko|    5|
|       Valetkevitchv|    5|
|            Raymondr|    5|
|   Jonathan Stempelr|    5|
|         Phil Wahbag|    5|
|     Lucia Mutikanip|    5|
|               Phila|    5|
|Caroline Valetkev...|    5|
|                Huwk|    5|
|            Michaelr|    5|
|    Ryan Vlastelicad|    5|
|       Strupczewskid|    5|
|         Tim Hepherj|    4|
|     Katharina Barty|    4|
|            Patrickt|    4|
|              Jasonb|    4|
|           Jonathany|    4|
|        Anna Driveri|    4|
|  Deepa Seetharamanc|    4|
|  Dhanya Skariachanh|    4|
|               Paulr|    4|
|          Rothackern|    4|
|           Mutikanie|    4|
|           ra Alperq|    4|
|       Nick Edwardsl|    4|
|            Edwardsk|    4|
|              Chuckh|    4|
|             Palmerz|    4|
|               Alexu|    4|
|     David Millikenw|    4|
|        Lauren Taraf|    4|
|               Wohld|    4|
|  Deepa Seetharamanu|    4|
|   Aruna Viswanathao|    4|
|                 eng|    4|
|            Vaughanl|    4|
|   Greg Roumeliotish|    4|
|      Ronald Groverk|    4|
|  Deepa Seetharamanm|    4|
|   Jonathan Stempelk|    4|
|   Jonathan Stempelm|    4|
|               Chees|    4|
|     Poornima Guptav|    4|
|             Andreat|    4|
|              Carewl|    4|
|              Brownn|    4|
|                 env|    4|
|     Rick Rothackerm|    4|
|         Nick Browns|    4|
|         Skariachanv|    4|
|        Jason Langeg|    4|
|            Jessical|    4|
|          Oreskovicw|    4|
|       Nate Raymondw|    4|
|            Schnurra|    4|
|             Andreaj|    4|
|          Baertleinm|    4|
|              Sarahb|    4|
|       Steve Slatery|    4|
|   Jonathan Stempelb|    4|
|       Jessica Wohlr|    4|
|              Davidc|    4|
|               Rickf|    4|
|             Alexeih|    4|
|              Luciao|    3|
|         Phil Wahbab|    3|
|           Carolineg|    3|
|              Karenh|    3|
|            Wachtelm|    3|
|    Estelle Shirbond|    3|
|     Poornima Guptaz|    3|
|            Suzannep|    3|
|              Saraht|    3|
|               Taran|    3|
|      Michael Ermany|    3|
|             Gellers|    3|
|            Toonkeld|    3|
|     Katharina Bartt|    3|
|         Shalal-Esar|    3|
|              Browno|    3|
|               Bullj|    3|
|Caroline Valetkev...|    3|
|         Dan Levinef|    3|
|              Deepap|    3|
|                 enj|    3|
|              Davidy|    3|
|         Vlastelicav|    3|
|            Raymondy|    3|
|       Leika Kiharal|    3|
|               Zhouy|    3|
|              Jamesk|    3|
|      Matt Scuffhamw|    3|
|           Liana B.c|    3|
+--------------------+-----+
only showing top 100 rows

In [62]:
df = spark.read.parquet("datamart/silver/silver_attributes_cleaned.parquet")
df.show()

+-----------+----+-------------+-------------+---------+----------------+---------+-----------------+--------------+
|Customer_ID| Age|   Occupation|snapshot_date|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|
+-----------+----+-------------+-------------+---------+----------------+---------+-----------------+--------------+
| CUS_0x1000|  18|       Lawyer|   2023-05-01|        1|               1|        1|                2|             1|
| CUS_0x1009|  26|     Mechanic|   2025-01-01|        1|               1|        1|                2|             1|
| CUS_0x100b|  19|Media_Manager|   2024-03-01|        0|               1|        1|                1|             0|
| CUS_0x1011|  44|       Doctor|   2023-11-01|        1|               1|        1|                2|             1|
| CUS_0x1013|  44|     Mechanic|   2023-12-01|        1|               1|        1|                1|             0|
| CUS_0x1015|  27|   Journalist|   2023-08-01|        1|               1|        1|                1|             0|
| CUS_0x1018|  15|   Accountant|   2023-11-01|        1|               1|        1|                3|             1|
| CUS_0x1026|  52|      Manager|   2023-10-01|        1|               1|        1|                1|             0|
| CUS_0x102d|  31| Entrepreneur|   2024-01-01|        1|               1|        1|                1|             0|
| CUS_0x102e|  26|    Scientist|   2024-04-01|        0|               1|        1|                1|             0|
| CUS_0x1032|NULL|       Lawyer|   2023-08-01|        1|               1|        0|                3|             1|
| CUS_0x1037|  45|   Accountant|   2023-01-01|        1|               1|        1|                2|             1|
| CUS_0x1038|  28|    Architect|   2024-10-01|        1|               1|        1|                1|             0|
| CUS_0x103e|  40|    Scientist|   2024-12-01|        1|               1|        1|                2|             1|
| CUS_0x1041|  15|      Teacher|   2023-11-01|        1|               1|        1|                1|             0|
| CUS_0x1044|  44|         NULL|   2023-06-01|        0|               0|        1|                1|             0|
| CUS_0x1048|  27|   Accountant|   2024-02-01|        1|               1|        1|                1|             0|
| CUS_0x104a|  37|     Mechanic|   2023-12-01|        0|               1|        1|                1|             0|
| CUS_0x104e|  50|      Teacher|   2023-06-01|        1|               1|        1|                1|             0|
| CUS_0x104f|  20|         NULL|   2024-10-01|        1|               0|        1|                2|             1|
+-----------+----+-------------+-------------+---------+----------------+---------+-----------------+--------------+
only showing top 20 rows