In [3]:
import pandas as pd
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
import os

spark = SparkSession.builder \
    .appName("SparkSQLExample") \
    .getOrCreate()

folder_path = "data"
for f in os.listdir(folder_path):
    if f.endswith('.csv'):
        df = spark.read.csv(f"data/{f}", header=True, inferSchema=True)
        print(f)
        df.show()
        print(df.columns)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/20 08:01:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

features_attributes.csv
+-----------+-----------------+---+-----------+-------------+-------------+
|Customer_ID|             Name|Age|        SSN|   Occupation|snapshot_date|
+-----------+-----------------+---+-----------+-------------+-------------+
| CUS_0x1000|   Alistair Barrf| 18|913-74-1218|       Lawyer|   2023-05-01|
| CUS_0x1009|           Arunah| 26|063-67-6938|     Mechanic|   2025-01-01|
| CUS_0x100b|         Shirboni| 19|  #F%$D@*&8|Media_Manager|   2024-03-01|
| CUS_0x1011|        Schneyerh| 44|793-05-8223|       Doctor|   2023-11-01|
| CUS_0x1013|         Cameront| 44|930-49-9615|     Mechanic|   2023-12-01|
| CUS_0x1015|          Holtono| 27|810-97-7024|   Journalist|   2023-08-01|
| CUS_0x1018|      Felsenthalq| 15|731-19-8119|   Accountant|   2023-11-01|
| CUS_0x1026|          Josephv| 52|500-62-9044|      Manager|   2023-10-01|
| CUS_0x102d| Neil Chatterjeex| 31|692-71-7552| Entrepreneur|   2024-01-01|
| CUS_0x102e|            Rhysn| 26|  #F%$D@*&8|    Scientist|   2024-04-01|
| CUS_0x1032|           Wahbap|40_|620-58-8045|       Lawyer|   2023-08-01|
| CUS_0x1037|         Matthewm| 45|230-22-9583|   Accountant|   2023-01-01|
| CUS_0x1038|              B.h| 28|355-00-7832|    Architect|   2024-10-01|
| CUS_0x103e|       Tim Kellyf| 40|155-72-8070|    Scientist|   2024-12-01|
| CUS_0x1041|Jonathan Stempela| 15|675-80-2033|      Teacher|   2023-11-01|
| CUS_0x1044|    Maki Shirakip| 44|  #F%$D@*&8|      _______|   2023-06-01|
| CUS_0x1048|   Janet McGurtyg| 27|808-81-2470|   Accountant|   2024-02-01|
| CUS_0x104a|            Leahk| 37|  #F%$D@*&8|     Mechanic|   2023-12-01|
| CUS_0x104e|         Kentaros| 50|837-93-5062|      Teacher|   2023-06-01|
| CUS_0x104f|            Markm| 20|264-84-8069|      _______|   2024-10-01|
+-----------+-----------------+---+-----------+-------------+-------------+
only showing top 20 rows

['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']
features_financials.csv
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
|Customer_ID|     Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|snapshot_date|
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
| CUS_0x1000|          30625.94|   2706.1616666666664|                6|              5|           27|          2|Credit-Builder Lo...|                 57|                    26|                1.63|                11.0|       Bad|         1562.91|       30.07719135017377|10 Years and 9 Mo...|                  Yes| 42.941090422469365|      77.31427572208112|High_spent_Medium...|400.36080052211616|   2023-05-01|
| CUS_0x1009|         52312.68_|              4250.39|                6|              5|           17|          4|Not Specified, Ho...|                  5|                    18|                9.73|                 4.0|         _|          202.68|         40.286996673783|31 Years and 0 Mo...|                  Yes| 108.36646712525564|      58.66019164829086|High_spent_Medium...|508.01234122645366|   2025-01-01|
| CUS_0x100b|113781.38999999998|            9549.7825|                1|              4|            1|          0|                NULL|                 14|                     8|                8.34|                 4.0|      Good|          1030.2|       28.59294254083936|15 Years and 10 M...|                   No|                0.0|      617.0792665202719|High_spent_Small_...| 597.8989834797281|   2024-03-01|
| CUS_0x1011|          58918.47|            5208.8725|                3|              3|           17|          3|Student Loan, Cre...|                 27|                    13|               14.42|                 7.0|  Standard|          473.14|       27.82995907548726|15 Years and 10 M...|                  Yes| 123.43493879634316|     383.35084463651407|Low_spent_Medium_...| 294.1014665671429|   2023-11-01|
| CUS_0x1013|          98620.98|    7962.415000000001|                3|              3|            6|          3|Student Loan, Deb...|                 12|                     9|                1.33|                 3.0|      Good|         1233.51|       26.52486357896023|17 Years and 10 M...|                   No|   228.018083652734|      332.3337079767732|High_spent_Medium...| 485.8897083704929|   2023-12-01|
| CUS_0x1015|          46951.02|             3725.585|                7|              4|           16|          0|                NULL|                  8|                     9|               15.83|                 9.0|  Standard|          340.22|       38.68223175011704|21 Years and 5 Mo...|                   NM|                0.0|      437.4339945818671|Low_spent_Small_v...|225.12450541813288|   2023-08-01|
| CUS_0x1018|          61194.81|            5014.5675|                7|              7|           23|          8|Credit-Builder Lo...|                 19|                    22|               28.63|                 8.0|       Bad|         2773.09|      27.268457710529688|14 Years and 3 Mo...|                  Yes|  225.3686913764476|     166.53062988488216|High_spent_Medium...|359.55742873867035|   2023-11-01|
| CUS_0x1026|         170614.28|   14463.856666666668|                2|              6|            9|          2|Payday Loan, and ...|                  0|                     5|                0.73|                 3.0|      Good|          849.69|       31.75752065713533|20 Years and 8 Mo...|                   No| 208.90747938201577|     184.27787149576235|High_spent_Medium...|1303.2003157888887|   2023-10-01|
| CUS_0x102d|          89064.52|    7256.043333333334|                5|              3|            1|          1|       Mortgage Loan|                  6|                     5|                6.37|                 3.0|         _|          648.36|       30.57429935886147|30 Years and 3 Mo...|                   No|  37.57275058079424|     296.09411909412466|High_spent_Medium...| 641.9374636584146|   2024-01-01|
| CUS_0x102e|          50807.44|    4197.953333333334|                8|              4|           11|          4|Mortgage Loan, No...|                 12|                     9|                 2.6|                 4.0|         _|          869.59|      30.311454014148158|22 Years and 10 M...|                   NM|  88.75991924748364|      65.27556452739218|High_spent_Medium...| 515.7598495584575|   2024-04-01|
| CUS_0x1032|          60410.94|             5274.245|                4|              7|           17|          4|Student Loan, Hom...|                 24|                     9|               10.65|                 9.0|  Standard|         1852.86|       31.80839553625598|16 Years and 3 Mo...|                  Yes|  149.9263873826631|      481.4927768814807|              !@9#%8|176.00533573585616|   2023-08-01|
| CUS_0x1037|         15989.085|           1086.42375|                5|              4|            2|          4|Credit-Builder Lo...|                 13|                    15|                 0.5|                 3.0|      Good|          665.82|       40.69769934536393|19 Years and 9 Mo...|                   No| 33.797020629881075|      80.46523951443457|Low_spent_Small_v...| 284.3801148556844|   2023-01-01|
| CUS_0x1038|         129473.16|             10959.43|                3|              4|           10|          3|Payday Loan, Payd...|                 28|                    13|                8.61|                10.0|  Standard|          568.21|      34.089318015879286|20 Years and 0 Mo...|                  Yes| 255.32790499097848|     1088.2714495635144|Low_spent_Medium_...| 32.34364544550715|   2024-10-01|
| CUS_0x103e|           98690.8|    8262.233333333334|                4|              6|            9|         1_|        Student Loan|                  6|                    17|               10.76|                 4.0|      Good|          706.96|      26.860663456485163|26 Years and 11 M...|                   No| 55.004407569291885|      913.4813186573292|Low_spent_Small_v...| 147.7376071067124|   2024-12-01|
| CUS_0x1041|           8978.11|    894.1758333333332|                8|              8|           30|          9|Payday Loan, Mort...|                 50|                    17|               18.48|                10.0|       Bad|         4913.15|       37.74656726266676|10 Years and 5 Mo...|                  Yes|  57.67965790681974|      43.56585814621352|High_spent_Small_...| 248.1720672803001|   2023-11-01|
| CUS_0x1044|          33441.59|    2748.799166666666|                2|              4|            1|          0|                NULL|                  1|                     4|                9.58|                 5.0|         _|          154.96|      35.984108540767004|31 Years and 11 M...|                   No|                0.0|     229.53226071473443|Low_spent_Small_v...|335.34765595193227|   2023-06-01|
| CUS_0x1048|          42387.54|             3680.295|                3|              7|           26|          7|Personal Loan, No...|                  9|                     8|               10.34|                 7.0|  Standard|         1835.67|       28.75306000732747|10 Years and 0 Mo...|                  Yes|   225.883368970478|     133.51336229583663|High_spent_Small_...| 268.6327687336854|   2024-02-01|
| CUS_0x104a|          14981.39|   1461.4491666666663|                2|              7|            5|          4|Mortgage Loan, Au...|                  5|                     6|                0.63|                 4.0|      Good|         1122.46|       39.64164181721113|32 Years and 3 Mo...|                   No|  38.11596751942855|     164.88918149049954|Low_spent_Small_v...|233.13976765673854|   2023-12-01|
| CUS_0x104e|          19180.87|    1688.405833333333|                8|              4|           18|          4|Debt Consolidatio...|                  5|                    17|                9.32|                 6.0|  Standard|         1127.57|       29.46533771819808|25 Years and 2 Mo...|                   No|  57.36421100960239|     107.98322725525713|High_spent_Small_...|263.49314506847384|   2023-06-01|
| CUS_0x104f|         11336.835|            992.73625|                4|              6|           14|          6|Auto Loan, Payday...|                 30|                    19|               16.44|                 7.0|         _|          177.98|       37.71745659884346|14 Years and 10 M...|                   NM|  35.56273086250209|     133.79735014337106|Low_spent_Small_v...|219.91354399412685|   2024-10-01|
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
only showing top 20 rows

['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'snapshot_date']
feature_clickstream.csv
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  63| 118|  80| 121|  55| 193| 111| 112|-101|   83|  164|  105|  -16|  -81| -126|  114|   35|   85|  -73|   76| CUS_0x1037|   2023-01-01|
|-108| 182| 123|   4| -56|  27|  25|  -6| 284|  222|  203|  190|  -14|  -96|  200|   35|  130|   94|  111|   75| CUS_0x1069|   2023-01-01|
| -13|   8|  87| 166| 214| -98| 215| 152| 129|  139|   14|  203|   26|   86|  171|  125| -130|  354|   17|  302| CUS_0x114a|   2023-01-01|
| -85|  45| 200|  89| 128|  54|  76|  51|  61|  139|    6|  197|  172|   96|  174|  163|   37|  207|  180|  118| CUS_0x1184|   2023-01-01|
|  55| 120| 226| -86| 253|  97| 107|  68| 103|  126|   34|   12|   76|   43|  183|  159|  -26|  104|  118|  184| CUS_0x1297|   2023-01-01|
|-133| 114| 138|  84|  53| -60|  60| 128| 349|  102|  -70| -138|  200|  168|   32|  -85|   91|  185|  134|  -28| CUS_0x12fb|   2023-01-01|
|  67| 155|  24| -16| 205|  80| 355| 140| 201|   87|  130|   86|   71|   72|   78|  238|   96|  147|   51|  155| CUS_0x1325|   2023-01-01|
| -64|  93|  36|  -1|   3| 183|-129| 122| 164|  138|   60|  140|  143|   90|  354|  280|  121|  159|  -81|  -27| CUS_0x1341|   2023-01-01|
| 167|  37| 169| 155|   4| 151|  99| 192| -64| -207|   63|  241|  167|   43|  216|  287|  115|  183|   66|   55| CUS_0x1375|   2023-01-01|
| 356| -23|  -4| -46|  80| 167| 258| 174| 104|   65|  133|  -75|  145|  211|  140|  113|   31|  136|   36|  125| CUS_0x13a8|   2023-01-01|
| 100|  35|  58| -18|  69|  66| 136|  65| 265|   18|  148|   -8|   -1|  217|   73|  102|   54|  -74|  150|  147| CUS_0x13ef|   2023-01-01|
| 148| -15|  40|  40|  54|-147|  85| 339|  50|   96|  149|   97|   12|  337|  145|   85|   39|  -86|  313|  225| CUS_0x1440|   2023-01-01|
| 127|  90| -98| 200| -34| 178|  -6| 107|  25|   40|  -33|  114|  167|   36|  183|  170|  -72|  114|  -37|  283| CUS_0x1443|   2023-01-01|
| 123| 256| 187|  29| 193| 138| 183| 185| 291|   97|   38|   38|   99|  -61|  242| -168|   54|  147|  183|  157| CUS_0x145a|   2023-01-01|
| 115|  99| -27|  18| 135| -18| 294| 184| 230|  -69|  -80|   50|  155|  136|   54|  152|  182|   85| -136|  254| CUS_0x1492|   2023-01-01|
| 101|  58|  19| 167| -87|  73| 336| 114| 169|   38|  -48|  224|   22|   54|  146|  260| -180|  241|  144|   78| CUS_0x153d|   2023-01-01|
| -97|-106|  78| 185|  45|  20| 155| -61| 168|  101|   88|  278|  217|  123|  125|  308|   78|  -32|  198|  106| CUS_0x1567|   2023-01-01|
| 303|  78| 139| 239|  29| 151|  -1| 165| 110|  307|   82|  211|   77|  149|  -46|  210|  199|  199|  150|  269| CUS_0x15ad|   2023-01-01|
| 153| 135|  73| 188| 209| 171| 143|  51| 137|  359|  113|  159|   10|  262|  181|   -7|  232|  -84|  116|   60| CUS_0x1630|   2023-01-01|
| 146|  84| 195| 269| 135| 108| 125| 177|  94|  371|  168|  140|  196|   86|   53|  150|  222|  250|  146|  -83| CUS_0x169c|   2023-01-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
only showing top 20 rows

['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9', 'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17', 'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date']
lms_loan_daily.csv
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
|             loan_id|Customer_ID|loan_start_date|tenure|installment_num|loan_amt|due_amt|paid_amt|overdue_amt|balance|snapshot_date|
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              0|   10000|    0.0|     0.0|        0.0|10000.0|   2023-05-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              1|   10000| 1000.0|  1000.0|        0.0| 9000.0|   2023-06-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              2|   10000| 1000.0|  1000.0|        0.0| 8000.0|   2023-07-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              3|   10000| 1000.0|     0.0|     1000.0| 8000.0|   2023-08-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              4|   10000| 1000.0|  2000.0|        0.0| 6000.0|   2023-09-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              5|   10000| 1000.0|     0.0|     1000.0| 6000.0|   2023-10-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              6|   10000| 1000.0|     0.0|     2000.0| 6000.0|   2023-11-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              7|   10000| 1000.0|     0.0|     3000.0| 6000.0|   2023-12-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              8|   10000| 1000.0|     0.0|     4000.0| 6000.0|   2024-01-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              9|   10000| 1000.0|     0.0|     5000.0| 6000.0|   2024-02-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|             10|   10000| 1000.0|     0.0|     6000.0| 6000.0|   2024-03-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              0|   10000|    0.0|     0.0|        0.0|10000.0|   2025-01-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              1|   10000| 1000.0|  1000.0|        0.0| 9000.0|   2025-02-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              2|   10000| 1000.0|  1000.0|        0.0| 8000.0|   2025-03-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              3|   10000| 1000.0|  1000.0|        0.0| 7000.0|   2025-04-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              4|   10000| 1000.0|  1000.0|        0.0| 6000.0|   2025-05-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              5|   10000| 1000.0|  1000.0|        0.0| 5000.0|   2025-06-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              6|   10000| 1000.0|  1000.0|        0.0| 4000.0|   2025-07-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              7|   10000| 1000.0|  1000.0|        0.0| 3000.0|   2025-08-01|
|CUS_0x1009_2025_0...| CUS_0x1009|     2025-01-01|    10|              8|   10000| 1000.0|  1000.0|        0.0| 2000.0|   2025-09-01|
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
only showing top 20 rows

['loan_id', 'Customer_ID', 'loan_start_date', 'tenure', 'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt', 'balance', 'snapshot_date']

In [68]:
attributes = spark.read.csv("data/features_attributes.csv", header=True, inferSchema=True)
attributes.createOrReplaceTempView('attributes')

print(attributes.columns)

query = spark.sql(
    """
    SELECT * FROM attributes
    WHERE Customer_ID = "CUS_0x1000"
    ORDER BY Customer_ID, snapshot_date
    """
)

query.show()

['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']
+-----------+--------------+---+-----------+----------+-------------+
|Customer_ID|          Name|Age|        SSN|Occupation|snapshot_date|
+-----------+--------------+---+-----------+----------+-------------+
| CUS_0x1000|Alistair Barrf| 18|913-74-1218|    Lawyer|   2023-05-01|
+-----------+--------------+---+-----------+----------+-------------+

In [7]:
clickstream = spark.read.csv("data/feature_clickstream.csv", header=True, inferSchema=True)
clickstream.createOrReplaceTempView('clickstream')


print(clickstream.columns)

query = spark.sql(
    """
    SELECT
        Customer_ID,
        snapshot_date,
        COUNT(snapshot_date) as distinct_entries
    FROM clickstream
    WHERE Customer_ID = "CUS_0x1000"
    GROUP BY Customer_ID, snapshot_date
    ORDER BY Customer_ID, snapshot_date
    """
)

query.show()

['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9', 'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17', 'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date']
+-----------+-------------+----------------+
|Customer_ID|snapshot_date|distinct_entries|
+-----------+-------------+----------------+
| CUS_0x1000|   2023-01-01|               1|
| CUS_0x1000|   2023-02-01|               1|
| CUS_0x1000|   2023-03-01|               1|
| CUS_0x1000|   2023-04-01|               1|
| CUS_0x1000|   2023-05-01|               1|
| CUS_0x1000|   2023-06-01|               1|
| CUS_0x1000|   2023-07-01|               1|
| CUS_0x1000|   2023-08-01|               1|
| CUS_0x1000|   2023-09-01|               1|
| CUS_0x1000|   2023-10-01|               1|
| CUS_0x1000|   2023-11-01|               1|
| CUS_0x1000|   2023-12-01|               1|
| CUS_0x1000|   2024-01-01|               1|
| CUS_0x1000|   2024-02-01|               1|
| CUS_0x1000|   2024-03-01|               1|
| CUS_0x1000|   2024-04-01|               1|
| CUS_0x1000|   2024-05-01|               1|
| CUS_0x1000|   2024-06-01|               1|
| CUS_0x1000|   2024-07-01|               1|
| CUS_0x1000|   2024-08-01|               1|
+-----------+-------------+----------------+
only showing top 20 rows

In [67]:
financials = spark.read.csv("data/features_financials.csv", header=True, inferSchema=True)
financials.createOrReplaceTempView('financials')

# print(financials.columns)

query = spark.sql(
    """
    SELECT *
    FROM financials
    LIMIT 1
    """
)

query.show()

+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
|Customer_ID|Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|snapshot_date|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
| CUS_0x1000|     30625.94|   2706.1616666666664|                6|              5|           27|          2|Credit-Builder Lo...|                 57|                    26|                1.63|                11.0|       Bad|         1562.91|       30.07719135017377|10 Years and 9 Mo...|                  Yes| 42.941090422469365|      77.31427572208112|High_spent_Medium...|400.36080052211616|   2023-05-01|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+

In [55]:
import os

folder_path = "data"
csv_files = [f[:-4] for f in os.listdir(folder_path) if f.endswith('.csv')]

csv_files

['features_attributes',
 'features_financials',
 'feature_clickstream',
 'lms_loan_daily']

In [58]:
bronze_directory = "datamart/bronze/"

file_name = "features_attributes/features_attributes.csv"
filepath = bronze_directory + file_name
df = spark.read.csv(filepath, header=True, inferSchema=True)
df.show()

import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType

# SSN is assumed to have xxx-xx-xxxx format
ssn_pattern = r"^\d{3}-\d{2}-\d{4}$"
df_clean = df.withColumn(
    "SSN",
    F.when(F.col("SSN").rlike(ssn_pattern), F.col("SSN")).otherwise(None)
)

# Create ssn_valid boolean
df_clean = df_clean.withColumn("ssn_valid",F.when(F.col("SSN").isNull(), 0).otherwise(1))

# Blank Occupations are cleaned
invalid_occ = ["_______", "", None]
df_clean = df_clean.withColumn("Occupation_clean", F.trim(F.col("Occupation"))) \
    .withColumn(
        "Occupation_clean",
        F.when(
            F.col("Occupation_clean")
            .isin(invalid_occ), 
            None)
        .otherwise(F.col("Occupation_clean"))
    )

# Remove white spaces on Name column
df_clean = df_clean.withColumn("Name", F.trim(F.col("Name")))

# Clean Age - assumed reasonable age is 15 to 100 years old
df_clean = df_clean.withColumn("Age_int", F.col("Age").cast(IntegerType()))
df_clean = df_clean.filter((F.col("Age_int") >= 15) & (F.col("Age_int") <= 100))

df_clean = df.withColumn("ssn_valid", F.when(F.col("SSN").rlike(r"^\d{3}-\d{2}-\d{4}$"), 1).otherwise(0)) \
             .withColumn("occupation_known", F.when(F.col("Occupation").isin("_______", "", None), 0).otherwise(1)) \
             .withColumn("age_valid", F.when((F.col("Age").cast("int").isNotNull()) & (F.col("Age") >= 15), 1).otherwise(0))

name_counts = df_clean.groupBy("Name").agg(F.count("*").alias("name_shared_count"))
df_with_name_count = df_clean.join(name_counts, on="Name", how="left")
df_with_name_count = df_with_name_count.withColumn("is_name_shared", F.when(F.col("name_shared_count") > 1, 1).otherwise(0))
df_with_name_count = df_with_name_count.drop("Name", "SSN",)

+-----------+-----------------+---+-----------+-------------+-------------+
|Customer_ID|             Name|Age|        SSN|   Occupation|snapshot_date|
+-----------+-----------------+---+-----------+-------------+-------------+
| CUS_0x1000|   Alistair Barrf| 18|913-74-1218|       Lawyer|   2023-05-01|
| CUS_0x1009|           Arunah| 26|063-67-6938|     Mechanic|   2025-01-01|
| CUS_0x100b|         Shirboni| 19|  #F%$D@*&8|Media_Manager|   2024-03-01|
| CUS_0x1011|        Schneyerh| 44|793-05-8223|       Doctor|   2023-11-01|
| CUS_0x1013|         Cameront| 44|930-49-9615|     Mechanic|   2023-12-01|
| CUS_0x1015|          Holtono| 27|810-97-7024|   Journalist|   2023-08-01|
| CUS_0x1018|      Felsenthalq| 15|731-19-8119|   Accountant|   2023-11-01|
| CUS_0x1026|          Josephv| 52|500-62-9044|      Manager|   2023-10-01|
| CUS_0x102d| Neil Chatterjeex| 31|692-71-7552| Entrepreneur|   2024-01-01|
| CUS_0x102e|            Rhysn| 26|  #F%$D@*&8|    Scientist|   2024-04-01|
| CUS_0x1032|           Wahbap|40_|620-58-8045|       Lawyer|   2023-08-01|
| CUS_0x1037|         Matthewm| 45|230-22-9583|   Accountant|   2023-01-01|
| CUS_0x1038|              B.h| 28|355-00-7832|    Architect|   2024-10-01|
| CUS_0x103e|       Tim Kellyf| 40|155-72-8070|    Scientist|   2024-12-01|
| CUS_0x1041|Jonathan Stempela| 15|675-80-2033|      Teacher|   2023-11-01|
| CUS_0x1044|    Maki Shirakip| 44|  #F%$D@*&8|      _______|   2023-06-01|
| CUS_0x1048|   Janet McGurtyg| 27|808-81-2470|   Accountant|   2024-02-01|
| CUS_0x104a|            Leahk| 37|  #F%$D@*&8|     Mechanic|   2023-12-01|
| CUS_0x104e|         Kentaros| 50|837-93-5062|      Teacher|   2023-06-01|
| CUS_0x104f|            Markm| 20|264-84-8069|      _______|   2024-10-01|
+-----------+-----------------+---+-----------+-------------+-------------+
only showing top 20 rows

+-----------+---+-------------+-------------+---------+----------------+---------+-----------------+--------------+
|Customer_ID|Age|   Occupation|snapshot_date|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|
+-----------+---+-------------+-------------+---------+----------------+---------+-----------------+--------------+
| CUS_0x1000| 18|       Lawyer|   2023-05-01|        1|               1|        1|                2|             1|
| CUS_0x1009| 26|     Mechanic|   2025-01-01|        1|               1|        1|                2|             1|
| CUS_0x100b| 19|Media_Manager|   2024-03-01|        0|               1|        1|                1|             0|
| CUS_0x1011| 44|       Doctor|   2023-11-01|        1|               1|        1|                2|             1|
| CUS_0x1013| 44|     Mechanic|   2023-12-01|        1|               1|        1|                1|             0|
| CUS_0x1015| 27|   Journalist|   2023-08-01|        1|               1|        1|                1|             0|
| CUS_0x1018| 15|   Accountant|   2023-11-01|        1|               1|        1|                3|             1|
| CUS_0x1026| 52|      Manager|   2023-10-01|        1|               1|        1|                1|             0|
| CUS_0x102d| 31| Entrepreneur|   2024-01-01|        1|               1|        1|                1|             0|
| CUS_0x102e| 26|    Scientist|   2024-04-01|        0|               1|        1|                1|             0|
| CUS_0x1032|40_|       Lawyer|   2023-08-01|        1|               1|        0|                3|             1|
| CUS_0x1037| 45|   Accountant|   2023-01-01|        1|               1|        1|                2|             1|
| CUS_0x1038| 28|    Architect|   2024-10-01|        1|               1|        1|                1|             0|
| CUS_0x103e| 40|    Scientist|   2024-12-01|        1|               1|        1|                2|             1|
| CUS_0x1041| 15|      Teacher|   2023-11-01|        1|               1|        1|                1|             0|
| CUS_0x1044| 44|      _______|   2023-06-01|        0|               0|        1|                1|             0|
| CUS_0x1048| 27|   Accountant|   2024-02-01|        1|               1|        1|                1|             0|
| CUS_0x104a| 37|     Mechanic|   2023-12-01|        0|               1|        1|                1|             0|
| CUS_0x104e| 50|      Teacher|   2023-06-01|        1|               1|        1|                1|             0|
| CUS_0x104f| 20|      _______|   2024-10-01|        1|               0|        1|                2|             1|
+-----------+---+-------------+-------------+---------+----------------+---------+-----------------+--------------+
only showing top 20 rows

In [31]:
df_clean.groupBy("SSN").count().orderBy("count", ascending=False).show()

+-----------+-----+
|        SSN|count|
+-----------+-----+
|  #F%$D@*&8|  644|
|706-59-9144|    1|
|508-88-3060|    1|
|564-87-3414|    1|
|118-02-3131|    1|
|808-03-9422|    1|
|595-90-1107|    1|
|571-04-7703|    1|
|154-09-5858|    1|
|942-65-9443|    1|
|218-40-1399|    1|
|296-46-9959|    1|
|579-02-1738|    1|
|738-19-2481|    1|
|136-53-7387|    1|
|368-07-2548|    1|
|916-37-8123|    1|
|945-83-2116|    1|
|347-65-8366|    1|
|214-44-4143|    1|
+-----------+-----+
only showing top 20 rows

In [45]:
df.where(F.col("Name") == "Wahbap").show()

+-----------+------+---+-----------+----------+-------------+
|Customer_ID|  Name|Age|        SSN|Occupation|snapshot_date|
+-----------+------+---+-----------+----------+-------------+
| CUS_0x1032|Wahbap|40_|620-58-8045|    Lawyer|   2023-08-01|
| CUS_0x508c|Wahbap| 49|212-99-0909|  Engineer|   2024-07-01|
| CUS_0x6f81|Wahbap| 17|075-05-3919|    Doctor|   2025-01-01|
+-----------+------+---+-----------+----------+-------------+

In [53]:
df_clean.groupBy("Name").count().orderBy("count", ascending=False).show(20)

NameError: name 'df_clean' is not defined

In [5]:
df = spark.read.parquet("datamart/silver/silver_attributes_cleaned.parquet")
df.show()

+-----------+----+-------------+-------------+---------+----------------+---------+-----------------+--------------+
|Customer_ID| Age|   Occupation|snapshot_date|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|
+-----------+----+-------------+-------------+---------+----------------+---------+-----------------+--------------+
| CUS_0x1000|  18|       Lawyer|   2023-05-01|        1|               1|        1|                2|             1|
| CUS_0x1009|  26|     Mechanic|   2025-01-01|        1|               1|        1|                2|             1|
| CUS_0x100b|  19|Media_Manager|   2024-03-01|        0|               1|        1|                1|             0|
| CUS_0x1011|  44|       Doctor|   2023-11-01|        1|               1|        1|                2|             1|
| CUS_0x1013|  44|     Mechanic|   2023-12-01|        1|               1|        1|                1|             0|
| CUS_0x1015|  27|   Journalist|   2023-08-01|        1|               1|        1|                1|             0|
| CUS_0x1018|  15|   Accountant|   2023-11-01|        1|               1|        1|                3|             1|
| CUS_0x1026|  52|      Manager|   2023-10-01|        1|               1|        1|                1|             0|
| CUS_0x102d|  31| Entrepreneur|   2024-01-01|        1|               1|        1|                1|             0|
| CUS_0x102e|  26|    Scientist|   2024-04-01|        0|               1|        1|                1|             0|
| CUS_0x1032|NULL|       Lawyer|   2023-08-01|        1|               1|        0|                3|             1|
| CUS_0x1037|  45|   Accountant|   2023-01-01|        1|               1|        1|                2|             1|
| CUS_0x1038|  28|    Architect|   2024-10-01|        1|               1|        1|                1|             0|
| CUS_0x103e|  40|    Scientist|   2024-12-01|        1|               1|        1|                2|             1|
| CUS_0x1041|  15|      Teacher|   2023-11-01|        1|               1|        1|                1|             0|
| CUS_0x1044|  44|         NULL|   2023-06-01|        0|               0|        1|                1|             0|
| CUS_0x1048|  27|   Accountant|   2024-02-01|        1|               1|        1|                1|             0|
| CUS_0x104a|  37|     Mechanic|   2023-12-01|        0|               1|        1|                1|             0|
| CUS_0x104e|  50|      Teacher|   2023-06-01|        1|               1|        1|                1|             0|
| CUS_0x104f|  20|         NULL|   2024-10-01|        1|               0|        1|                2|             1|
+-----------+----+-------------+-------------+---------+----------------+---------+-----------------+--------------+
only showing top 20 rows

In [15]:
df = spark.read.csv(f"datamart/bronze/feature_clickstream/feature_clickstream_2023_02_01.csv", header=True, inferSchema=True)

df.show()

+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  55|  96|  74| 171| -69|-103|  86| 178|  42|  113|  100|  183|   39|  179|  161|   71|  208|   -7|  129|  206| CUS_0x1037|   2023-02-01|
| 100|-115|  50| 246| 140| 160| 122| 112|  14|  221|  -82|  284|   57|  146|  120|   67|   -4|  139|  -26|  -51| CUS_0x1069|   2023-02-01|
| 142| 106| 143| 155| 153| 121|  64|  17|  -2|  208|   44|  -17|  118|  -55|  -47|   93|   50|  173|   50|  274| CUS_0x114a|   2023-02-01|
| 130| 171| 155| 101|  41| 127|   0| 150|  65|   28|  131|  123|  157|   56|  267|  127|  190|    8|   20|  214| CUS_0x1184|   2023-02-01|
|  60| -18| 113| 166| 112|  91|  80| 185| 215|  -51|  182|  141|  244|  318|  215|   37|   29|  172|  266|   59| CUS_0x1297|   2023-02-01|
| 121|   6|  89| 111|  39|  65| 116|  16| 255|  196|  -82|  247|   51|  103|   20|  -78|  229|   64|  -14|  105| CUS_0x12fb|   2023-02-01|
| 103| 162| 192|  37| 266|  15| -43| 146| 114|  124|  238|  186|  334|  151|   82|   35|  -40|   35|  -26|   90| CUS_0x1325|   2023-02-01|
| 216|  11|  16| -43| 124| 120| 138| 165|  41|  114|  143|  -26|  100|   68|  -39|  264|  135|  268|  103|  112| CUS_0x1341|   2023-02-01|
| 204|  79| -20| 107| 215| 126| -41|  42|  99|  -69|   98|   81|  -48|  142| -220|  234|  -15|   97|  219|  -94| CUS_0x1375|   2023-02-01|
| 236| 150| 260|   0| 111| 203|  94|  70|  84|   75|  283|   14|   43|   60|   95|   31|  434|   -9|   83|   74| CUS_0x13a8|   2023-02-01|
|  29| 110| -23| 172| -54|  84| -86| 275| 103|  233|  135|  164|  118| -186|  244|  148|  165|  162|  133|   74| CUS_0x13ef|   2023-02-01|
|  40| -64| 111|  51| 112| 172|  49| 168|  40|  202|   84|  177|  160|  215|  -40|  101|  289|  115|  171|  205| CUS_0x1440|   2023-02-01|
|  65| 195|  29| 133| 135| 120|   3| 184| 122|  -66|   66|  164|  102|  114|  210|  -43|   26|   77|  189|  170| CUS_0x1443|   2023-02-01|
| 260|  60|  13| 143| 182|  30| 219|  27| 102|  199|  164|  -35|  285|   69|   17|  124|   36|   34|  122|  185| CUS_0x145a|   2023-02-01|
|  11| 115|  84|  59|  63| 232|  49| 194| 101|   88|   27|   79|  252|  126|   95|  283|  -31|  374|   91|   32| CUS_0x1492|   2023-02-01|
|  84| -55|  51|  -8|  -2| 156| 280| 204| 131|  105|   54|   95|   85|  218|   80|   24|   -9|   12|  -89|  119| CUS_0x153d|   2023-02-01|
|  91| 136|  59| 100|  11| 170|  85| 157| 215|  -56|  126|  248|  267|  210|  278|   38|  206|  -16|  132|   76| CUS_0x1567|   2023-02-01|
| -95|  74|  74|  94| 159|  36|   8| 243|  49|  194|  127|  159|  -56|  179|   42|  242|  101|  110| -106|  -53| CUS_0x15ad|   2023-02-01|
|  50| 147| 101| 132|  83| 186| 165|  73| 100|  281|  204|  137|  -83|  106|   13|  116|  -30|  175|   21|  -48| CUS_0x1630|   2023-02-01|
| 179|  28| -21| 133|  65| -71| 165|  82| 237|   79|   90|    2|   45|  158|   39|   72|  -27|  -73|  -64|   49| CUS_0x169c|   2023-02-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
only showing top 20 rows

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
import pyspark.sql.functions as F

# Start Spark session
spark = SparkSession.builder.appName("ClickstreamCleaning").getOrCreate()

# 1. Define schema
schema = StructType(
    [StructField(f"fe_{i}", IntegerType(), True) for i in range(1, 21)] +
    [StructField("Customer_ID", StringType(), False),
     StructField("snapshot_date", DateType(), False)]
)

# 2. Read raw CSV file with schema
df_raw = spark.read.csv(
    "datamart/bronze/feature_clickstream/feature_clickstream_2023_01_01.csv",
    header=True
)

# 3. Recast and sanitize feature columns
for i in range(1, 21):
    col_name = f"fe_{i}"
    df_raw = df_raw.withColumn(
        col_name,
        when(F.col(col_name).cast("int").isNotNull(), F.col(col_name).cast("int")).otherwise(None)
    )
    
# 4. Log null counts per feature column (useful for QA)
null_counts = df_raw.select([
    count(when(F.col(f"fe_{i}").isNull(), 1)).alias(f"fe_{i}_nulls") for i in range(1, 21)
])
null_counts.show()

df.clean = spark.createDataFrame(df_raw.rdd, schema = schema)
# 6. Final inspection
print('df_raw')
df_raw.printSchema()
print('df_clean')
df_clean.printSchema()
df_raw.show()

+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|fe_1_nulls|fe_2_nulls|fe_3_nulls|fe_4_nulls|fe_5_nulls|fe_6_nulls|fe_7_nulls|fe_8_nulls|fe_9_nulls|fe_10_nulls|fe_11_nulls|fe_12_nulls|fe_13_nulls|fe_14_nulls|fe_15_nulls|fe_16_nulls|fe_17_nulls|fe_18_nulls|fe_19_nulls|fe_20_nulls|
+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|         0|         0|         0|         0|         0|         0|         0|         0|         0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|          0|
+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+

df_raw
root
 |-- fe_1: integer (nullable = true)
 |-- fe_2: integer (nullable = true)
 |-- fe_3: integer (nullable = true)
 |-- fe_4: integer (nullable = true)
 |-- fe_5: integer (nullable = true)
 |-- fe_6: integer (nullable = true)
 |-- fe_7: integer (nullable = true)
 |-- fe_8: integer (nullable = true)
 |-- fe_9: integer (nullable = true)
 |-- fe_10: integer (nullable = true)
 |-- fe_11: integer (nullable = true)
 |-- fe_12: integer (nullable = true)
 |-- fe_13: integer (nullable = true)
 |-- fe_14: integer (nullable = true)
 |-- fe_15: integer (nullable = true)
 |-- fe_16: integer (nullable = true)
 |-- fe_17: integer (nullable = true)
 |-- fe_18: integer (nullable = true)
 |-- fe_19: integer (nullable = true)
 |-- fe_20: integer (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- snapshot_date: string (nullable = true)

df_clean
root
 |-- fe_1: integer (nullable = true)
 |-- fe_2: integer (nullable = true)
 |-- fe_3: integer (nullable = true)
 |-- fe_4: integer (nullable = true)
 |-- fe_5: integer (nullable = true)
 |-- fe_6: integer (nullable = true)
 |-- fe_7: integer (nullable = true)
 |-- fe_8: integer (nullable = true)
 |-- fe_9: integer (nullable = true)
 |-- fe_10: integer (nullable = true)
 |-- fe_11: integer (nullable = true)
 |-- fe_12: integer (nullable = true)
 |-- fe_13: integer (nullable = true)
 |-- fe_14: integer (nullable = true)
 |-- fe_15: integer (nullable = true)
 |-- fe_16: integer (nullable = true)
 |-- fe_17: integer (nullable = true)
 |-- fe_18: integer (nullable = true)
 |-- fe_19: integer (nullable = true)
 |-- fe_20: integer (nullable = true)
 |-- Customer_ID: string (nullable = true)
 |-- snapshot_date: date (nullable = true)

+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  63| 118|  80| 121|  55| 193| 111| 112|-101|   83|  164|  105|  -16|  -81| -126|  114|   35|   85|  -73|   76| CUS_0x1037|   2023-01-01|
|-108| 182| 123|   4| -56|  27|  25|  -6| 284|  222|  203|  190|  -14|  -96|  200|   35|  130|   94|  111|   75| CUS_0x1069|   2023-01-01|
| -13|   8|  87| 166| 214| -98| 215| 152| 129|  139|   14|  203|   26|   86|  171|  125| -130|  354|   17|  302| CUS_0x114a|   2023-01-01|
| -85|  45| 200|  89| 128|  54|  76|  51|  61|  139|    6|  197|  172|   96|  174|  163|   37|  207|  180|  118| CUS_0x1184|   2023-01-01|
|  55| 120| 226| -86| 253|  97| 107|  68| 103|  126|   34|   12|   76|   43|  183|  159|  -26|  104|  118|  184| CUS_0x1297|   2023-01-01|
|-133| 114| 138|  84|  53| -60|  60| 128| 349|  102|  -70| -138|  200|  168|   32|  -85|   91|  185|  134|  -28| CUS_0x12fb|   2023-01-01|
|  67| 155|  24| -16| 205|  80| 355| 140| 201|   87|  130|   86|   71|   72|   78|  238|   96|  147|   51|  155| CUS_0x1325|   2023-01-01|
| -64|  93|  36|  -1|   3| 183|-129| 122| 164|  138|   60|  140|  143|   90|  354|  280|  121|  159|  -81|  -27| CUS_0x1341|   2023-01-01|
| 167|  37| 169| 155|   4| 151|  99| 192| -64| -207|   63|  241|  167|   43|  216|  287|  115|  183|   66|   55| CUS_0x1375|   2023-01-01|
| 356| -23|  -4| -46|  80| 167| 258| 174| 104|   65|  133|  -75|  145|  211|  140|  113|   31|  136|   36|  125| CUS_0x13a8|   2023-01-01|
| 100|  35|  58| -18|  69|  66| 136|  65| 265|   18|  148|   -8|   -1|  217|   73|  102|   54|  -74|  150|  147| CUS_0x13ef|   2023-01-01|
| 148| -15|  40|  40|  54|-147|  85| 339|  50|   96|  149|   97|   12|  337|  145|   85|   39|  -86|  313|  225| CUS_0x1440|   2023-01-01|
| 127|  90| -98| 200| -34| 178|  -6| 107|  25|   40|  -33|  114|  167|   36|  183|  170|  -72|  114|  -37|  283| CUS_0x1443|   2023-01-01|
| 123| 256| 187|  29| 193| 138| 183| 185| 291|   97|   38|   38|   99|  -61|  242| -168|   54|  147|  183|  157| CUS_0x145a|   2023-01-01|
| 115|  99| -27|  18| 135| -18| 294| 184| 230|  -69|  -80|   50|  155|  136|   54|  152|  182|   85| -136|  254| CUS_0x1492|   2023-01-01|
| 101|  58|  19| 167| -87|  73| 336| 114| 169|   38|  -48|  224|   22|   54|  146|  260| -180|  241|  144|   78| CUS_0x153d|   2023-01-01|
| -97|-106|  78| 185|  45|  20| 155| -61| 168|  101|   88|  278|  217|  123|  125|  308|   78|  -32|  198|  106| CUS_0x1567|   2023-01-01|
| 303|  78| 139| 239|  29| 151|  -1| 165| 110|  307|   82|  211|   77|  149|  -46|  210|  199|  199|  150|  269| CUS_0x15ad|   2023-01-01|
| 153| 135|  73| 188| 209| 171| 143|  51| 137|  359|  113|  159|   10|  262|  181|   -7|  232|  -84|  116|   60| CUS_0x1630|   2023-01-01|
| 146|  84| 195| 269| 135| 108| 125| 177|  94|  371|  168|  140|  196|   86|   53|  150|  222|  250|  146|  -83| CUS_0x169c|   2023-01-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
only showing top 20 rows

In [39]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
import pyspark.sql.functions as F

# Define schema with nullable=False for Customer_ID and snapshot_date
schema = StructType(
    [StructField(f"fe_{i}", IntegerType(), True) for i in range(1, 21)] +
    [StructField("Customer_ID", StringType(), False),
     StructField("snapshot_date", DateType(), False)]
)

# Read raw CSV with inferred schema (nullable=True)
df_raw = spark.read.csv(
    "datamart/bronze/feature_clickstream/feature_clickstream_2023_01_01.csv",
    header=True,
    inferSchema=True
)

# 1. Filter out rows where Customer_ID or snapshot_date is null
df_no_nulls = df_raw.filter(
    F.col("Customer_ID").isNotNull() & F.col("snapshot_date").isNotNull()
)

# 2. Convert snapshot_date string to DateType using to_date function
df_no_nulls = df_no_nulls.withColumn(
    "snapshot_date",
    F.to_date(F.col("snapshot_date"), "yyyy-MM-dd")
)

# 3. Create clean DataFrame with enforced schema from RDD of cleaned data
df_clean = spark.createDataFrame(df_no_nulls.rdd, schema=schema)

# 4. Verify the schema
df_clean.printSchema()

root
 |-- fe_1: integer (nullable = true)
 |-- fe_2: integer (nullable = true)
 |-- fe_3: integer (nullable = true)
 |-- fe_4: integer (nullable = true)
 |-- fe_5: integer (nullable = true)
 |-- fe_6: integer (nullable = true)
 |-- fe_7: integer (nullable = true)
 |-- fe_8: integer (nullable = true)
 |-- fe_9: integer (nullable = true)
 |-- fe_10: integer (nullable = true)
 |-- fe_11: integer (nullable = true)
 |-- fe_12: integer (nullable = true)
 |-- fe_13: integer (nullable = true)
 |-- fe_14: integer (nullable = true)
 |-- fe_15: integer (nullable = true)
 |-- fe_16: integer (nullable = true)
 |-- fe_17: integer (nullable = true)
 |-- fe_18: integer (nullable = true)
 |-- fe_19: integer (nullable = true)
 |-- fe_20: integer (nullable = true)
 |-- Customer_ID: string (nullable = false)
 |-- snapshot_date: date (nullable = false)

In [76]:
bronze_directory = "datamart/bronze/"
file_name = "features_financials/features_financials.csv"
filepath = bronze_directory + file_name

df = spark.read.csv(filepath, header=True, inferSchema=True)

# Remove non-numeric characters from Annual_Income and cast
df = df.withColumn('Annual_Income', F.regexp_replace('Annual_Income', '[^0-9.]', '').cast(FloatType()))

# Cast numeric columns explicitly
numeric_cols = ['Monthly_Inhand_Salary', 'Interest_Rate', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 
                'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt', 
                'Credit_Utilization_Ratio', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance']
for col in numeric_cols:
    df = df.withColumn(col, F.col(col).cast(FloatType()))

count_cols = ['Num_Bank_Accounts', 'Num_Credit_Card', 'Num_of_Loan']
for col in count_cols:
    df = df.withColumn(col, F.col(col).cast(IntegerType()))

# Convert Payment_of_Min_Amount to boolean/int
df = df.withColumn('Payment_of_Min_Amount', F.when(F.col('Payment_of_Min_Amount') == 'Yes', 1).otherwise(0))

# Parse Credit_History_Age to total months
df = df.withColumn(
    'Credit_History_Years', F.regexp_extract('Credit_History_Age', r'(\d+) Years', 1).cast(IntegerType())
).withColumn(
    'Credit_History_Months', F.regexp_extract('Credit_History_Age', r'(\d+) Months', 1).cast(IntegerType())
).withColumn(
    'Credit_History_Total_Months', F.col('Credit_History_Years') * 12 + F.coalesce(F.col('Credit_History_Months'), F.lit(0))
)

# Loan Types
loan_types = (
    df
    .filter(F.col("Type_of_Loan").isNotNull())
    .select(F.explode(F.split(F.col("Type_of_Loan"), ",\\s*")).alias("Loan"))
    .select(
        F.trim(F.regexp_replace(F.col("Loan"), ",", "")).alias("Loan")  # remove commas inside the loan string
    )
    .filter(~F.col("Loan").rlike("(?i)^and\\b.*"))  # exclude entries starting with 'and'
    .distinct()
    .orderBy("Loan")
    .rdd.flatMap(lambda x: x)
    .collect()
)

for loan in loan_types:
    col_name = loan.replace(" ", "_").replace("-", "_").lower()  # safe column name
    df = df.withColumn(
        col_name,
        F.when(F.col("Type_of_Loan").contains(loan), F.lit(1)).otherwise(F.lit(0))
    )

# Handle missing/unknown in Credit_Mix
df = df.withColumn('Credit_Mix', F.when(F.col('Credit_Mix') == '_', None).otherwise(F.col('Credit_Mix')))

# One Hot Encoding for Credit_Mix
df = df.withColumn("credit_mix_good",     F.when(F.col("Credit_Mix") == "Good", 1).otherwise(0)) \
        .withColumn("credit_mix_bad",      F.when(F.col("Credit_Mix") == "Bad", 1).otherwise(0)) \
        .withColumn("credit_mix_standard", F.when(F.col("Credit_Mix") == "Standard", 1).otherwise(0)) \
        .withColumn("valid_credit_mix",    F.when(F.col("Credit_Mix").isin(['Good','Standard','Bad']), 1).otherwise(0))

# Handle Type_of_Loan NULL or Not Specified
df = df.withColumn('Type_of_Loan', F.when(F.col('Type_of_Loan').isin(['NULL', 'Not Specified']), None).otherwise(F.col('Type_of_Loan')))

# Payment Behaviour
df = df.withColumn(
    "Payment_Behaviour",
    F.lower(F.col("Payment_Behaviour"))
)

df = df.withColumn(
    "Payment_Behaviour",
    F.when(F.col("Payment_Behaviour") == "!@9#%8", None).otherwise(F.col("Payment_Behaviour"))
)

df = df.withColumn(
    "has_valid_payment_behavior",
    F.col("Payment_Behaviour").isNotNull().cast("int")
)
    
payment_behaviours = (
    df
    .select("Payment_Behaviour")
    .filter(F.col("Payment_Behaviour").isNotNull())
    .distinct()
    .orderBy("Payment_Behaviour")
    .rdd.flatMap(lambda x: x)
    .collect()
)

for behaviour in payment_behaviours:
    df = df.withColumn(
        f"pb_{behaviour}",
        (F.col("Payment_Behaviour") == behaviour).cast("int")
    )

df = df.toDF(*[col.lower() for col in df.columns])
df = df.drop("credit_history_age","type_of_loan")

df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- monthly_inhand_salary: float (nullable = true)
 |-- num_bank_accounts: integer (nullable = true)
 |-- num_credit_card: integer (nullable = true)
 |-- interest_rate: float (nullable = true)
 |-- num_of_loan: integer (nullable = true)
 |-- delay_from_due_date: float (nullable = true)
 |-- num_of_delayed_payment: float (nullable = true)
 |-- changed_credit_limit: float (nullable = true)
 |-- num_credit_inquiries: float (nullable = true)
 |-- credit_mix: string (nullable = true)
 |-- outstanding_debt: float (nullable = true)
 |-- credit_utilization_ratio: float (nullable = true)
 |-- payment_of_min_amount: integer (nullable = false)
 |-- total_emi_per_month: float (nullable = true)
 |-- amount_invested_monthly: float (nullable = true)
 |-- payment_behaviour: string (nullable = true)
 |-- monthly_balance: float (nullable = true)
 |-- snapshot_date: date (nullable = true)
 |-- credit_history_years: integer (nullable = true)
 |-- credit_history_months: integer (nullable = true)
 |-- credit_history_total_months: integer (nullable = true)
 |-- auto_loan: integer (nullable = false)
 |-- credit_builder_loan: integer (nullable = false)
 |-- debt_consolidation_loan: integer (nullable = false)
 |-- home_equity_loan: integer (nullable = false)
 |-- mortgage_loan: integer (nullable = false)
 |-- not_specified: integer (nullable = false)
 |-- payday_loan: integer (nullable = false)
 |-- personal_loan: integer (nullable = false)
 |-- student_loan: integer (nullable = false)
 |-- credit_mix_good: integer (nullable = false)
 |-- credit_mix_bad: integer (nullable = false)
 |-- credit_mix_standard: integer (nullable = false)
 |-- valid_credit_mix: integer (nullable = false)
 |-- has_valid_payment_behavior: integer (nullable = false)
 |-- pb_high_spent_large_value_payments: integer (nullable = true)
 |-- pb_high_spent_medium_value_payments: integer (nullable = true)
 |-- pb_high_spent_small_value_payments: integer (nullable = true)
 |-- pb_low_spent_large_value_payments: integer (nullable = true)
 |-- pb_low_spent_medium_value_payments: integer (nullable = true)
 |-- pb_low_spent_small_value_payments: integer (nullable = true)

In [50]:
csv_file = "datamart/bronze/features_financials/features_financials.csv"

# Read the CSV
df = spark.read.option("header", True).csv(csv_file)

# Extract unique loan types
loan_types = (
    df
    .filter(F.col("Type_of_Loan").isNotNull())
    .select(F.explode(F.split(F.col("Type_of_Loan"), ",\\s*")).alias("Loan"))
    .select(
        F.trim(F.regexp_replace(F.col("Loan"), ",", "")).alias("Loan")  # remove commas inside the loan string
    )
    .filter(~F.col("Loan").rlike("(?i)^and\\b.*"))  # exclude entries starting with 'and'
    .distinct()
    .orderBy("Loan")
    .rdd.flatMap(lambda x: x)
    .collect()
)


print(" Unique Loan Types:")
print(loan_types)
for loan in loan_types:
    print("-", loan)

 Unique Loan Types:
['Auto Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan', 'Home Equity Loan', 'Mortgage Loan', 'Not Specified', 'Payday Loan', 'Personal Loan', 'Student Loan']
- Auto Loan
- Credit-Builder Loan
- Debt Consolidation Loan
- Home Equity Loan
- Mortgage Loan
- Not Specified
- Payday Loan
- Personal Loan
- Student Loan

In [ ]:
# Credit
# 0 -5 Good
# 6-11 Standard
# 12 and Up Bad

In [63]:
df = df.withColumn(
    "Payment_Behaviour",
    F.lower(F.col("Payment_Behaviour"))
)

df = df.withColumn(
    "Payment_Behaviour",
    F.when(F.col("Payment_Behaviour") == "!@9#%8", None).otherwise(F.col("Payment_Behaviour"))
)

df = df.withColumn(
    "has_valid_payment_behavior",
    F.col("Payment_Behaviour").isNotNull().cast("int")
)
    
payment_behaviours = (
    df
    .select("Payment_Behaviour")
    .filter(F.col("Payment_Behaviour").isNotNull())
    .distinct()
    .orderBy("Payment_Behaviour")
    .rdd.flatMap(lambda x: x)
    .collect()
)

for behaviour in payment_behaviours:
    df = df.withColumn(
        f"pb_{behaviour}",
        (F.col("Payment_Behaviour") == behaviour).cast("int")
    )

In [57]:
import os
for f in os.listdir("data"):
    if f.endswith('.csv'):
        df = spark.read.csv(f"data/{f}", header=True, inferSchema=True)
        df.show(3)

        attributes = spark.read.csv(f"data/{f}", header=True, inferSchema=True)
        attributes.createOrReplaceTempView('table')
        
        print(attributes.columns)
        
        query = spark.sql(
            f"""
            SELECT COUNT(*) FROM table
            """
        )
        
        query.show(3)

+-----------+--------------+---+-----------+-------------+-------------+
|Customer_ID|          Name|Age|        SSN|   Occupation|snapshot_date|
+-----------+--------------+---+-----------+-------------+-------------+
| CUS_0x1000|Alistair Barrf| 18|913-74-1218|       Lawyer|   2023-05-01|
| CUS_0x1009|        Arunah| 26|063-67-6938|     Mechanic|   2025-01-01|
| CUS_0x100b|      Shirboni| 19|  #F%$D@*&8|Media_Manager|   2024-03-01|
+-----------+--------------+---+-----------+-------------+-------------+
only showing top 3 rows

['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']
+--------+
|count(1)|
+--------+
|   12500|
+--------+

+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
|Customer_ID|     Annual_Income|Monthly_Inhand_Salary|Num_Bank_Accounts|Num_Credit_Card|Interest_Rate|Num_of_Loan|        Type_of_Loan|Delay_from_due_date|Num_of_Delayed_Payment|Changed_Credit_Limit|Num_Credit_Inquiries|Credit_Mix|Outstanding_Debt|Credit_Utilization_Ratio|  Credit_History_Age|Payment_of_Min_Amount|Total_EMI_per_month|Amount_invested_monthly|   Payment_Behaviour|   Monthly_Balance|snapshot_date|
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
| CUS_0x1000|          30625.94|   2706.1616666666664|                6|              5|           27|          2|Credit-Builder Lo...|                 57|                    26|                1.63|                11.0|       Bad|         1562.91|       30.07719135017377|10 Years and 9 Mo...|                  Yes| 42.941090422469365|      77.31427572208112|High_spent_Medium...|400.36080052211616|   2023-05-01|
| CUS_0x1009|         52312.68_|              4250.39|                6|              5|           17|          4|Not Specified, Ho...|                  5|                    18|                9.73|                 4.0|         _|          202.68|         40.286996673783|31 Years and 0 Mo...|                  Yes| 108.36646712525564|      58.66019164829086|High_spent_Medium...|508.01234122645366|   2025-01-01|
| CUS_0x100b|113781.38999999998|            9549.7825|                1|              4|            1|          0|                NULL|                 14|                     8|                8.34|                 4.0|      Good|          1030.2|       28.59294254083936|15 Years and 10 M...|                   No|                0.0|      617.0792665202719|High_spent_Small_...| 597.8989834797281|   2024-03-01|
+-----------+------------------+---------------------+-----------------+---------------+-------------+-----------+--------------------+-------------------+----------------------+--------------------+--------------------+----------+----------------+------------------------+--------------------+---------------------+-------------------+-----------------------+--------------------+------------------+-------------+
only showing top 3 rows

['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'snapshot_date']
+--------+
|count(1)|
+--------+
|   12500|
+--------+

+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  63| 118|  80| 121|  55| 193| 111| 112|-101|   83|  164|  105|  -16|  -81| -126|  114|   35|   85|  -73|   76| CUS_0x1037|   2023-01-01|
|-108| 182| 123|   4| -56|  27|  25|  -6| 284|  222|  203|  190|  -14|  -96|  200|   35|  130|   94|  111|   75| CUS_0x1069|   2023-01-01|
| -13|   8|  87| 166| 214| -98| 215| 152| 129|  139|   14|  203|   26|   86|  171|  125| -130|  354|   17|  302| CUS_0x114a|   2023-01-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
only showing top 3 rows

['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9', 'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17', 'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date']
+--------+
|count(1)|
+--------+
|  215376|
+--------+

+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
|             loan_id|Customer_ID|loan_start_date|tenure|installment_num|loan_amt|due_amt|paid_amt|overdue_amt|balance|snapshot_date|
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              0|   10000|    0.0|     0.0|        0.0|10000.0|   2023-05-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              1|   10000| 1000.0|  1000.0|        0.0| 9000.0|   2023-06-01|
|CUS_0x1000_2023_0...| CUS_0x1000|     2023-05-01|    10|              2|   10000| 1000.0|  1000.0|        0.0| 8000.0|   2023-07-01|
+--------------------+-----------+---------------+------+---------------+--------+-------+--------+-----------+-------+-------------+
only showing top 3 rows

['loan_id', 'Customer_ID', 'loan_start_date', 'tenure', 'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt', 'balance', 'snapshot_date']
+--------+
|count(1)|
+--------+
|  137500|
+--------+

In [74]:
from pyspark.sql.window import Window
import pyspark.sql.functions as F

# Finalizing loan data for gold
df = spark.read.parquet("datamart/silver/lms_loan_daily/*.parquet")

loan_aggregates = df.groupBy("loan_id").agg(
    F.sum("paid_amt").alias("total_paid_amt"),
    F.sum(F.when(F.col("overdue_amt") > 0, 1).otherwise(0)).alias("num_months_overdue"),
    F.max("snapshot_date").alias("latest_snapshot_date")
)

w = Window.partitionBy("loan_id").orderBy(F.col("snapshot_date").desc())
# Add row number to identify latest per loan_id
df = df.withColumn("row_num", F.row_number().over(w)) \
                 .filter(F.col("row_num") == 1) \
                 .drop("row_num")

loan_df = df.join(loan_aggregates, on="loan_id", how="left")

# Get features based on snapshot_date
latest_snapshot = loan_df.groupBy("loan_id").agg(
    F.max("snapshot_date").alias("latest_snapshot_date"),
    F.first("loan_start_date").alias("loan_start_date")  # should be same for all rows
)

loan_start_features = latest_snapshot.select(
    "loan_id",
    "loan_start_date",
    "latest_snapshot_date",
    
    F.when(F.months_between("latest_snapshot_date", "loan_start_date") < 3, "new")
     .when(F.months_between("latest_snapshot_date", "loan_start_date") < 6, "mid")
     .otherwise("old").alias("loan_vintage"),

    F.month("loan_start_date").alias("loan_start_month"),
    F.year("loan_start_date").alias("loan_start_year")
)

final_loan_df = loan_df.join(loan_start_features, on="loan_id", how="left")

# One Hot for loan vintage
final_df = final_loan_df.withColumn("loan_vintage_old", F.when(F.col("loan_vintage") == "old", 1).otherwise(0)) \
                        .withColumn("loan_vintage_mid", F.when(F.col("loan_vintage") == "mid", 1).otherwise(0)) \
                        .withColumn("loan_vintage_new", F.when(F.col("loan_vintage") == "new", 1).otherwise(0))

# Create binary flags for overdue amount and missed payment
final_df = final_df.withColumn("has_overdue_amt", F.when(F.col("overdue_amt") > 0, 1).otherwise(0))
final_df = final_df.withColumn("has_missed_payment", F.when(F.col("first_missed_date").isNotNull(), 1).otherwise(0))

# Drop redundant fields
final_df = final_df.drop("due_amt", "latest_snapshot_date", "loan_start_date", "paid_amt", "loan_vintage", "first_missed_date")
final_df.show(truncate = False)

+---------------------+-----------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+
|loan_id              |Customer_ID|tenure|installment_num|loan_amt|overdue_amt|balance|snapshot_date|mob|installments_missed|dpd|total_paid_amt|num_months_overdue|loan_start_month|loan_start_year|loan_vintage_old|loan_vintage_mid|loan_vintage_new|has_overdue_amt|has_missed_payment|
+---------------------+-----------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+
|CUS_0x100b_2024_03_01|CUS_0x100b |10    |9              |10000.0 |0.0        |1000.0 |2024-12-01   |9  |0                  |0  |9000.0        |0                 |3               |2024           |1               |0               |0               |0              |0                 |
|CUS_0x1011_2023_11_01|CUS_0x1011 |10    |10             |10000.0 |0.0        |0.0    |2024-09-01   |10 |0                  |0  |10000.0       |0                 |11              |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1015_2023_08_01|CUS_0x1015 |10    |10             |10000.0 |0.0        |0.0    |2024-06-01   |10 |0                  |0  |10000.0       |0                 |8               |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1037_2023_01_01|CUS_0x1037 |10    |10             |10000.0 |0.0        |0.0    |2023-11-01   |10 |0                  |0  |10000.0       |0                 |1               |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1041_2023_11_01|CUS_0x1041 |10    |10             |10000.0 |0.0        |0.0    |2024-09-01   |10 |0                  |0  |10000.0       |0                 |11              |2023           |1               |0               |0               |0              |0                 |
|CUS_0x104f_2024_10_01|CUS_0x104f |10    |2              |10000.0 |0.0        |8000.0 |2024-12-01   |2  |0                  |0  |2000.0        |0                 |10              |2024           |0               |0               |1               |0              |0                 |
|CUS_0x1051_2024_01_01|CUS_0x1051 |10    |10             |10000.0 |0.0        |0.0    |2024-11-01   |10 |0                  |0  |10000.0       |0                 |1               |2024           |1               |0               |0               |0              |0                 |
|CUS_0x105b_2023_11_01|CUS_0x105b |10    |10             |10000.0 |0.0        |0.0    |2024-09-01   |10 |0                  |0  |10000.0       |0                 |11              |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1063_2023_12_01|CUS_0x1063 |10    |10             |10000.0 |0.0        |0.0    |2024-10-01   |10 |0                  |0  |10000.0       |0                 |12              |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1069_2023_01_01|CUS_0x1069 |10    |10             |10000.0 |0.0        |0.0    |2023-11-01   |10 |0                  |0  |10000.0       |0                 |1               |2023           |1               |0               |0               |0              |0                 |
|CUS_0x106f_2023_08_01|CUS_0x106f |10    |10             |10000.0 |0.0        |0.0    |2024-06-01   |10 |0                  |0  |10000.0       |0                 |8               |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1087_2024_09_01|CUS_0x1087 |10    |3              |10000.0 |0.0        |7000.0 |2024-12-01   |3  |0                  |0  |3000.0        |0                 |9               |2024           |0               |1               |0               |0              |0                 |
|CUS_0x109b_2023_10_01|CUS_0x109b |10    |10             |10000.0 |9000.0     |9000.0 |2024-08-01   |10 |9                  |274|1000.0        |9                 |10              |2023           |1               |0               |0               |1              |1                 |
|CUS_0x109d_2024_04_01|CUS_0x109d |10    |8              |10000.0 |0.0        |2000.0 |2024-12-01   |8  |0                  |0  |8000.0        |0                 |4               |2024           |1               |0               |0               |0              |0                 |
|CUS_0x10dd_2024_06_01|CUS_0x10dd |10    |6              |10000.0 |0.0        |4000.0 |2024-12-01   |6  |0                  |0  |6000.0        |0                 |6               |2024           |1               |0               |0               |0              |0                 |
|CUS_0x10eb_2023_03_01|CUS_0x10eb |10    |10             |10000.0 |0.0        |0.0    |2024-01-01   |10 |0                  |0  |10000.0       |0                 |3               |2023           |1               |0               |0               |0              |0                 |
|CUS_0x1107_2023_11_01|CUS_0x1107 |10    |10             |10000.0 |10000.0    |10000.0|2024-09-01   |10 |10                 |305|0.0           |10                |11              |2023           |1               |0               |0               |1              |1                 |
|CUS_0x1123_2024_10_01|CUS_0x1123 |10    |2              |10000.0 |0.0        |8000.0 |2024-12-01   |2  |0                  |0  |2000.0        |0                 |10              |2024           |0               |0               |1               |0              |0                 |
|CUS_0x112d_2024_03_01|CUS_0x112d |10    |9              |10000.0 |5000.0     |6000.0 |2024-12-01   |9  |5                  |153|4000.0        |6                 |3               |2024           |1               |0               |0               |1              |1                 |
|CUS_0x112e_2024_04_01|CUS_0x112e |10    |8              |10000.0 |0.0        |2000.0 |2024-12-01   |8  |0                  |0  |8000.0        |0                 |4               |2024           |1               |0               |0               |0              |0                 |
+---------------------+-----------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+
only showing top 20 rows

In [71]:
attributes_df = spark.read.parquet("datamart/silver/features_attributes/silver_attributes_cleaned.parquet").drop("snapshot_date")
# df.where(F.col("Age").isNotNull()).count()
attributes_df.show(5)
# 11863 Non-null Ages
final_df = final_df.join(attributes_df, on="Customer_ID", how="left")
final_df.show(5)

+-----------+----+-------------+---------+----------------+---------+-----------------+--------------+
|Customer_ID| Age|   Occupation|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|
+-----------+----+-------------+---------+----------------+---------+-----------------+--------------+
| CUS_0x1000|  18|       Lawyer|        1|               1|        1|                2|             1|
| CUS_0x1009|  26|     Mechanic|        1|               1|        1|                2|             1|
| CUS_0x100b|  19|Media_Manager|        0|               1|        1|                1|             0|
| CUS_0x1011|  44|       Doctor|        1|               1|        1|                2|             1|
| CUS_0x1013|  44|     Mechanic|        1|               1|        1|                1|             0|
| CUS_0x1015|  27|   Journalist|        1|               1|        1|                1|             0|
| CUS_0x1018|  15|   Accountant|        1|               1|        1|                3|             1|
| CUS_0x1026|  52|      Manager|        1|               1|        1|                1|             0|
| CUS_0x102d|  31| Entrepreneur|        1|               1|        1|                1|             0|
| CUS_0x102e|  26|    Scientist|        0|               1|        1|                1|             0|
| CUS_0x1032|NULL|       Lawyer|        1|               1|        0|                3|             1|
| CUS_0x1037|  45|   Accountant|        1|               1|        1|                2|             1|
| CUS_0x1038|  28|    Architect|        1|               1|        1|                1|             0|
| CUS_0x103e|  40|    Scientist|        1|               1|        1|                2|             1|
| CUS_0x1041|  15|      Teacher|        1|               1|        1|                1|             0|
| CUS_0x1044|  44|         NULL|        0|               0|        1|                1|             0|
| CUS_0x1048|  27|   Accountant|        1|               1|        1|                1|             0|
| CUS_0x104a|  37|     Mechanic|        0|               1|        1|                1|             0|
| CUS_0x104e|  50|      Teacher|        1|               1|        1|                1|             0|
| CUS_0x104f|  20|         NULL|        1|               0|        1|                2|             1|
+-----------+----+-------------+---------+----------------+---------+-----------------+--------------+
only showing top 20 rows

+-----------+--------------------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+---+-------------+---------+----------------+---------+-----------------+--------------+---+-------------+---------+----------------+---------+-----------------+--------------+---+-------------+---------+----------------+---------+-----------------+--------------+
|Customer_ID|             loan_id|tenure|installment_num|loan_amt|overdue_amt|balance|snapshot_date|mob|installments_missed|dpd|total_paid_amt|num_months_overdue|loan_start_month|loan_start_year|loan_vintage_old|loan_vintage_mid|loan_vintage_new|has_overdue_amt|has_missed_payment|Age|   Occupation|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|Age|   Occupation|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|Age|   Occupation|ssn_valid|occupation_known|age_valid|name_shared_count|is_name_shared|
+-----------+--------------------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+---+-------------+---------+----------------+---------+-----------------+--------------+---+-------------+---------+----------------+---------+-----------------+--------------+---+-------------+---------+----------------+---------+-----------------+--------------+
| CUS_0x100b|CUS_0x100b_2024_0...|    10|              9| 10000.0|        0.0| 1000.0|   2024-12-01|  9|                  0|  0|        9000.0|                 0|               3|           2024|               1|               0|               0|              0|                 0| 19|Media_Manager|        0|               1|        1|                1|             0| 19|Media_Manager|        0|               1|        1|                1|             0| 19|Media_Manager|        0|               1|        1|                1|             0|
| CUS_0x1011|CUS_0x1011_2023_1...|    10|             10| 10000.0|        0.0|    0.0|   2024-09-01| 10|                  0|  0|       10000.0|                 0|              11|           2023|               1|               0|               0|              0|                 0| 44|       Doctor|        1|               1|        1|                2|             1| 44|       Doctor|        1|               1|        1|                2|             1| 44|       Doctor|        1|               1|        1|                2|             1|
| CUS_0x1015|CUS_0x1015_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2024-06-01| 10|                  0|  0|       10000.0|                 0|               8|           2023|               1|               0|               0|              0|                 0| 27|   Journalist|        1|               1|        1|                1|             0| 27|   Journalist|        1|               1|        1|                1|             0| 27|   Journalist|        1|               1|        1|                1|             0|
| CUS_0x1037|CUS_0x1037_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2023-11-01| 10|                  0|  0|       10000.0|                 0|               1|           2023|               1|               0|               0|              0|                 0| 45|   Accountant|        1|               1|        1|                2|             1| 45|   Accountant|        1|               1|        1|                2|             1| 45|   Accountant|        1|               1|        1|                2|             1|
| CUS_0x1041|CUS_0x1041_2023_1...|    10|             10| 10000.0|        0.0|    0.0|   2024-09-01| 10|                  0|  0|       10000.0|                 0|              11|           2023|               1|               0|               0|              0|                 0| 15|      Teacher|        1|               1|        1|                1|             0| 15|      Teacher|        1|               1|        1|                1|             0| 15|      Teacher|        1|               1|        1|                1|             0|
| CUS_0x104f|CUS_0x104f_2024_1...|    10|              2| 10000.0|        0.0| 8000.0|   2024-12-01|  2|                  0|  0|        2000.0|                 0|              10|           2024|               0|               0|               1|              0|                 0| 20|         NULL|        1|               0|        1|                2|             1| 20|         NULL|        1|               0|        1|                2|             1| 20|         NULL|        1|               0|        1|                2|             1|
| CUS_0x1051|CUS_0x1051_2024_0...|    10|             10| 10000.0|        0.0|    0.0|   2024-11-01| 10|                  0|  0|       10000.0|                 0|               1|           2024|               1|               0|               0|              0|                 0| 42|     Engineer|        1|               1|        1|                2|             1| 42|     Engineer|        1|               1|        1|                2|             1| 42|     Engineer|        1|               1|        1|                2|             1|
| CUS_0x105b|CUS_0x105b_2023_1...|    10|             10| 10000.0|        0.0|    0.0|   2024-09-01| 10|                  0|  0|       10000.0|                 0|              11|           2023|               1|               0|               0|              0|                 0| 24|   Accountant|        0|               1|        1|                1|             0| 24|   Accountant|        0|               1|        1|                1|             0| 24|   Accountant|        0|               1|        1|                1|             0|
| CUS_0x1063|CUS_0x1063_2023_1...|    10|             10| 10000.0|        0.0|    0.0|   2024-10-01| 10|                  0|  0|       10000.0|                 0|              12|           2023|               1|               0|               0|              0|                 0| 20|    Architect|        1|               1|        1|                1|             0| 20|    Architect|        1|               1|        1|                1|             0| 20|    Architect|        1|               1|        1|                1|             0|
| CUS_0x1069|CUS_0x1069_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2023-11-01| 10|                  0|  0|       10000.0|                 0|               1|           2023|               1|               0|               0|              0|                 0| 32|   Accountant|        1|               1|        1|                1|             0| 32|   Accountant|        1|               1|        1|                1|             0| 32|   Accountant|        1|               1|        1|                1|             0|
| CUS_0x106f|CUS_0x106f_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2024-06-01| 10|                  0|  0|       10000.0|                 0|               8|           2023|               1|               0|               0|              0|                 0| 55|    Developer|        1|               1|        1|                1|             0| 55|    Developer|        1|               1|        1|                1|             0| 55|    Developer|        1|               1|        1|                1|             0|
| CUS_0x1087|CUS_0x1087_2024_0...|    10|              3| 10000.0|        0.0| 7000.0|   2024-12-01|  3|                  0|  0|        3000.0|                 0|               9|           2024|               0|               1|               0|              0|                 0| 51|       Doctor|        1|               1|        1|                2|             1| 51|       Doctor|        1|               1|        1|                2|             1| 51|       Doctor|        1|               1|        1|                2|             1|
| CUS_0x109b|CUS_0x109b_2023_1...|    10|             10| 10000.0|     9000.0| 9000.0|   2024-08-01| 10|                  9|274|        1000.0|                 9|              10|           2023|               1|               0|               0|              1|                 1| 55|      Manager|        1|               1|        1|                1|             0| 55|      Manager|        1|               1|        1|                1|             0| 55|      Manager|        1|               1|        1|                1|             0|
| CUS_0x109d|CUS_0x109d_2024_0...|    10|              8| 10000.0|        0.0| 2000.0|   2024-12-01|  8|                  0|  0|        8000.0|                 0|               4|           2024|               1|               0|               0|              0|                 0| 45|       Writer|        1|               1|        1|                6|             1| 45|       Writer|        1|               1|        1|                6|             1| 45|       Writer|        1|               1|        1|                6|             1|
| CUS_0x10dd|CUS_0x10dd_2024_0...|    10|              6| 10000.0|        0.0| 4000.0|   2024-12-01|  6|                  0|  0|        6000.0|                 0|               6|           2024|               1|               0|               0|              0|                 0| 25|      Teacher|        1|               1|        1|                1|             0| 25|      Teacher|        1|               1|        1|                1|             0| 25|      Teacher|        1|               1|        1|                1|             0|
| CUS_0x10eb|CUS_0x10eb_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2024-01-01| 10|                  0|  0|       10000.0|                 0|               3|           2023|               1|               0|               0|              0|                 0| 51|   Journalist|        0|               1|        1|                1|             0| 51|   Journalist|        0|               1|        1|                1|             0| 51|   Journalist|        0|               1|        1|                1|             0|
| CUS_0x1107|CUS_0x1107_2023_1...|    10|             10| 10000.0|    10000.0|10000.0|   2024-09-01| 10|                 10|305|           0.0|                10|              11|           2023|               1|               0|               0|              1|                 1| 31|       Writer|        1|               1|        1|                2|             1| 31|       Writer|        1|               1|        1|                2|             1| 31|       Writer|        1|               1|        1|                2|             1|
| CUS_0x1123|CUS_0x1123_2024_1...|    10|              2| 10000.0|        0.0| 8000.0|   2024-12-01|  2|                  0|  0|        2000.0|                 0|              10|           2024|               0|               0|               1|              0|                 0| 15|       Writer|        1|               1|        1|                3|             1| 15|       Writer|        1|               1|        1|                3|             1| 15|       Writer|        1|               1|        1|                3|             1|
| CUS_0x112d|CUS_0x112d_2024_0...|    10|              9| 10000.0|     5000.0| 6000.0|   2024-12-01|  9|                  5|153|        4000.0|                 6|               3|           2024|               1|               0|               0|              1|                 1| 22|   Accountant|        1|               1|        1|                1|             0| 22|   Accountant|        1|               1|        1|                1|             0| 22|   Accountant|        1|               1|        1|                1|             0|
| CUS_0x112e|CUS_0x112e_2024_0...|    10|              8| 10000.0|        0.0| 2000.0|   2024-12-01|  8|                  0|  0|        8000.0|                 0|               4|           2024|               1|               0|               0|              0|                 0| 32|     Mechanic|        1|               1|        1|                1|             0| 32|     Mechanic|        1|               1|        1|                1|             0| 32|     Mechanic|        1|               1|        1|                1|             0|
+-----------+--------------------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+---+-------------+---------+----------------+---------+-----------------+--------------+---+-------------+---------+----------------+---------+-----------------+--------------+---+-------------+---------+----------------+---------+-----------------+--------------+
only showing top 20 rows

In [78]:
financials_df = spark.read.parquet("datamart/silver/features_financials/silver_financials_cleaned.parquet").drop("credit_mix", "payment_behaviour","credit_history_years","credit_history_months")
financials_df.show(5)
final_df = final_df.join(financials_df, on="Customer_ID", how="left")
final_df.show(5)

+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+---------------+-------------+---------------------------+---------+-------------------+-----------------------+----------------+-------------+-------------+-----------+-------------+------------+---------------+--------------+-------------------+----------------+--------------------------+----------------------------------+-----------------------------------+----------------------------------+---------------------------------+----------------------------------+---------------------------------+
|customer_id|annual_income|monthly_inhand_salary|num_bank_accounts|num_credit_card|interest_rate|num_of_loan|delay_from_due_date|num_of_delayed_payment|changed_credit_limit|num_credit_inquiries|outstanding_debt|credit_utilization_ratio|payment_of_min_amount|total_emi_per_month|amount_invested_monthly|monthly_balance|snapshot_date|credit_history_total_months|auto_loan|credit_builder_loan|debt_consolidation_loan|home_equity_loan|mortgage_loan|not_specified|payday_loan|personal_loan|student_loan|credit_mix_good|credit_mix_bad|credit_mix_standard|valid_credit_mix|has_valid_payment_behavior|pb_high_spent_large_value_payments|pb_high_spent_medium_value_payments|pb_high_spent_small_value_payments|pb_low_spent_large_value_payments|pb_low_spent_medium_value_payments|pb_low_spent_small_value_payments|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+---------------+-------------+---------------------------+---------+-------------------+-----------------------+----------------+-------------+-------------+-----------+-------------+------------+---------------+--------------+-------------------+----------------+--------------------------+----------------------------------+-----------------------------------+----------------------------------+---------------------------------+----------------------------------+---------------------------------+
| CUS_0x1000|     30625.94|            2706.1616|                6|              5|         27.0|          2|               57.0|                  26.0|                1.63|                11.0|         1562.91|                30.07719|                    1|           42.94109|               77.31428|       400.3608|   2023-05-01|                        129|        0|                  1|                      0|               1|            0|            0|          0|            0|           0|              0|             1|                  0|               1|                         1|                                 0|                                  1|                                 0|                                0|                                 0|                                0|
| CUS_0x1009|     52312.68|              4250.39|                6|              5|         17.0|          4|                5.0|                  18.0|                9.73|                 4.0|          202.68|               40.286995|                    1|          108.36647|               58.66019|      508.01233|   2025-01-01|                        372|        0|                  1|                      0|               1|            0|            1|          1|            0|           0|              0|             0|                  0|               0|                         1|                                 0|                                  1|                                 0|                                0|                                 0|                                0|
| CUS_0x100b|    113781.39|             9549.782|                1|              4|          1.0|          0|               14.0|                   8.0|                8.34|                 4.0|          1030.2|               28.592943|                    0|                0.0|               617.0793|        597.899|   2024-03-01|                        190|        0|                  0|                      0|               0|            0|            0|          0|            0|           0|              1|             0|                  0|               1|                         1|                                 0|                                  0|                                 1|                                0|                                 0|                                0|
| CUS_0x1011|     58918.47|            5208.8726|                3|              3|         17.0|          3|               27.0|                  13.0|               14.42|                 7.0|          473.14|                27.82996|                    1|          123.43494|              383.35083|      294.10147|   2023-11-01|                        190|        0|                  1|                      1|               0|            0|            0|          0|            0|           1|              0|             0|                  1|               1|                         1|                                 0|                                  0|                                 0|                                0|                                 1|                                0|
| CUS_0x1013|     98620.98|             7962.415|                3|              3|          6.0|          3|               12.0|                   9.0|                1.33|                 3.0|         1233.51|               26.524864|                    0|          228.01808|               332.3337|       485.8897|   2023-12-01|                        214|        0|                  0|                      1|               0|            0|            0|          0|            1|           1|              1|             0|                  0|               1|                         1|                                 0|                                  1|                                 0|                                0|                                 0|                                0|
+-----------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+---------------+-------------+---------------------------+---------+-------------------+-----------------------+----------------+-------------+-------------+-----------+-------------+------------+---------------+--------------+-------------------+----------------+--------------------------+----------------------------------+-----------------------------------+----------------------------------+---------------------------------+----------------------------------+---------------------------------+
only showing top 5 rows

+-----------+--------------------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+---------------+-------------+---------------------------+---------+-------------------+-----------------------+----------------+-------------+-------------+-----------+-------------+------------+---------------+--------------+-------------------+----------------+--------------------------+----------------------------------+-----------------------------------+----------------------------------+---------------------------------+----------------------------------+---------------------------------+
|Customer_ID|             loan_id|tenure|installment_num|loan_amt|overdue_amt|balance|snapshot_date|mob|installments_missed|dpd|total_paid_amt|num_months_overdue|loan_start_month|loan_start_year|loan_vintage_old|loan_vintage_mid|loan_vintage_new|has_overdue_amt|has_missed_payment|annual_income|monthly_inhand_salary|num_bank_accounts|num_credit_card|interest_rate|num_of_loan|delay_from_due_date|num_of_delayed_payment|changed_credit_limit|num_credit_inquiries|outstanding_debt|credit_utilization_ratio|payment_of_min_amount|total_emi_per_month|amount_invested_monthly|monthly_balance|snapshot_date|credit_history_total_months|auto_loan|credit_builder_loan|debt_consolidation_loan|home_equity_loan|mortgage_loan|not_specified|payday_loan|personal_loan|student_loan|credit_mix_good|credit_mix_bad|credit_mix_standard|valid_credit_mix|has_valid_payment_behavior|pb_high_spent_large_value_payments|pb_high_spent_medium_value_payments|pb_high_spent_small_value_payments|pb_low_spent_large_value_payments|pb_low_spent_medium_value_payments|pb_low_spent_small_value_payments|
+-----------+--------------------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+---------------+-------------+---------------------------+---------+-------------------+-----------------------+----------------+-------------+-------------+-----------+-------------+------------+---------------+--------------+-------------------+----------------+--------------------------+----------------------------------+-----------------------------------+----------------------------------+---------------------------------+----------------------------------+---------------------------------+
| CUS_0x100b|CUS_0x100b_2024_0...|    10|              9| 10000.0|        0.0| 1000.0|   2024-12-01|  9|                  0|  0|        9000.0|                 0|               3|           2024|               1|               0|               0|              0|                 0|    113781.39|             9549.782|                1|              4|          1.0|          0|               14.0|                   8.0|                8.34|                 4.0|          1030.2|               28.592943|                    0|                0.0|               617.0793|        597.899|   2024-03-01|                        190|        0|                  0|                      0|               0|            0|            0|          0|            0|           0|              1|             0|                  0|               1|                         1|                                 0|                                  0|                                 1|                                0|                                 0|                                0|
| CUS_0x1011|CUS_0x1011_2023_1...|    10|             10| 10000.0|        0.0|    0.0|   2024-09-01| 10|                  0|  0|       10000.0|                 0|              11|           2023|               1|               0|               0|              0|                 0|     58918.47|            5208.8726|                3|              3|         17.0|          3|               27.0|                  13.0|               14.42|                 7.0|          473.14|                27.82996|                    1|          123.43494|              383.35083|      294.10147|   2023-11-01|                        190|        0|                  1|                      1|               0|            0|            0|          0|            0|           1|              0|             0|                  1|               1|                         1|                                 0|                                  0|                                 0|                                0|                                 1|                                0|
| CUS_0x1015|CUS_0x1015_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2024-06-01| 10|                  0|  0|       10000.0|                 0|               8|           2023|               1|               0|               0|              0|                 0|     46951.02|             3725.585|                7|              4|         16.0|          0|                8.0|                   9.0|               15.83|                 9.0|          340.22|                38.68223|                    0|                0.0|                437.434|      225.12451|   2023-08-01|                        257|        0|                  0|                      0|               0|            0|            0|          0|            0|           0|              0|             0|                  1|               1|                         1|                                 0|                                  0|                                 0|                                0|                                 0|                                1|
| CUS_0x1037|CUS_0x1037_2023_0...|    10|             10| 10000.0|        0.0|    0.0|   2023-11-01| 10|                  0|  0|       10000.0|                 0|               1|           2023|               1|               0|               0|              0|                 0|    15989.085|            1086.4237|                5|              4|          2.0|          4|               13.0|                  15.0|                 0.5|                 3.0|          665.82|                 40.6977|                    0|           33.79702|               80.46524|      284.38013|   2023-01-01|                        237|        1|                  1|                      0|               0|            1|            0|          0|            0|           0|              1|             0|                  0|               1|                         1|                                 0|                                  0|                                 0|                                0|                                 0|                                1|
| CUS_0x1041|CUS_0x1041_2023_1...|    10|             10| 10000.0|        0.0|    0.0|   2024-09-01| 10|                  0|  0|       10000.0|                 0|              11|           2023|               1|               0|               0|              0|                 0|      8978.11|            894.17584|                8|              8|         30.0|          9|               50.0|                  17.0|               18.48|                10.0|         4913.15|               37.746567|                    1|          57.679657|              43.565857|      248.17207|   2023-11-01|                        125|        0|                  0|                      0|               1|            1|            1|          1|            0|           1|              0|             1|                  0|               1|                         1|                                 0|                                  0|                                 1|                                0|                                 0|                                0|
+-----------+--------------------+------+---------------+--------+-----------+-------+-------------+---+-------------------+---+--------------+------------------+----------------+---------------+----------------+----------------+----------------+---------------+------------------+-------------+---------------------+-----------------+---------------+-------------+-----------+-------------------+----------------------+--------------------+--------------------+----------------+------------------------+---------------------+-------------------+-----------------------+---------------+-------------+---------------------------+---------+-------------------+-----------------------+----------------+-------------+-------------+-----------+-------------+------------+---------------+--------------+-------------------+----------------+--------------------------+----------------------------------+-----------------------------------+----------------------------------+---------------------------------+----------------------------------+---------------------------------+
only showing top 5 rows

In [83]:
from pyspark.sql.window import Window
import pyspark.sql.functions as F

# Finalizing loan data for gold
df = spark.read.parquet("datamart/silver/feature_clickstream/*.parquet")


df.where(F.col("Customer_ID") == "CUS_0x1037").orderBy(F.col("snapshot_date")).show(50)

+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|fe_1|fe_2|fe_3|fe_4|fe_5|fe_6|fe_7|fe_8|fe_9|fe_10|fe_11|fe_12|fe_13|fe_14|fe_15|fe_16|fe_17|fe_18|fe_19|fe_20|Customer_ID|snapshot_date|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+
|  63| 118|  80| 121|  55| 193| 111| 112|-101|   83|  164|  105|  -16|  -81| -126|  114|   35|   85|  -73|   76| CUS_0x1037|   2023-01-01|
|  55|  96|  74| 171| -69|-103|  86| 178|  42|  113|  100|  183|   39|  179|  161|   71|  208|   -7|  129|  206| CUS_0x1037|   2023-02-01|
| 232| 203| -71|  86| 243|  12|  79| 122| 103|  178|  273|   96|  201|   37|   96|   63|   98|   69|  257|    3| CUS_0x1037|   2023-03-01|
|   9| -29|  -8| 116| 198|  68|  79|  61| 113|   91|   36|  179|   17|  219|   89|  136|  -25|  180|  109|  118| CUS_0x1037|   2023-04-01|
| 203|  75| 223|  88| 188| 164|  82|  18| 195|   50|  276|   50|    4|  -41|  184|  150|  212|  139|    1|   46| CUS_0x1037|   2023-05-01|
| 145| 108|  78| -33| 212|  62| -46| 135|  -6|   96|   21|   -9|  -82|   79|  -72|  184|  114|  281|  -45|   51| CUS_0x1037|   2023-06-01|
|  40|  90| 231| 136| 239| 273| 106| 178|  90|  202|   52|  205|   44|  134|  154|  108|   29|  108|  141|  260| CUS_0x1037|   2023-07-01|
|   2| 128| 115| -31| 106| 144|  69| 200|  16|  248|   -4|  160|   33|  112|  104|   97|  181|   11|  114|  260| CUS_0x1037|   2023-08-01|
| 221| 226|-112|  49| 226| 209|  44| 123| 244|  106|    0|  -13| -102|  225|  125|   74|  189|  -64|  170|   57| CUS_0x1037|   2023-09-01|
| 168| 176| 119| 190| 151| -17| -17| -46| 172|   56|  244|  114|   16|  -53|  110|  246|   29|  241|   67|   25| CUS_0x1037|   2023-10-01|
|  63| 247| 155|  46|  61| 229| 229| 107| 129|  395|  226|  160|  214|  -74|  200| -129|   79|  128|   20|  230| CUS_0x1037|   2023-11-01|
| 146| 183|  61| 185| 285| 169| 105| 196| 173|  121|   59|   -9|   53|   30|  -22|  153|  136|  188|  123|  190| CUS_0x1037|   2023-12-01|
| 239| 140| -24| 265|   2| -32| 147| -38| 280|  210|  246|  -16|  235|  140|   45|  179|   61|   38|   68|  171| CUS_0x1037|   2024-01-01|
| 114|  12|-109| -50| 149| 148| 116| 131| -48|   45|  187|  -47|  208|  -46|  354|  111|   43|   63|   84|  115| CUS_0x1037|   2024-02-01|
|  71| 243|  89| 149| 202|  56| 149| 207| 232|  111|  179|  340|  -17|  100|  115|   68|   39|   87|  -74|  240| CUS_0x1037|   2024-03-01|
|  31| 156| 138| 433| 136| 243|  20| 202| 213|  177|   29|  158|  164|   96|   70|  -52|  -56|   75|  162|  133| CUS_0x1037|   2024-04-01|
| 197| 310| -52| 131| 167| -47| 220|  81| 277|  235|  -47|  195|   62|   73|   95|  120|  150|  -23|  105|   68| CUS_0x1037|   2024-05-01|
|  88| 137| 240| 125| 256| 152| 117| 122| 108|  156|  167|  154|  100|  183|  154|   19|   81|  303|  266|   19| CUS_0x1037|   2024-06-01|
|  -5|  47| -44|  70| 194|  -3|  57|  -1|  47|  197|   18|  250|   22|  167|  263|  195|  -59|   54|  103|   35| CUS_0x1037|   2024-07-01|
| 211| 225|  55| 221|  93|  49| 240| -22| 126|  117|  183|  -37|  101|   89|   44|  172|  304|  242|  119|   51| CUS_0x1037|   2024-08-01|
| 161| 165| 100| 146| 211|  37| 119| 131| 170|  202|  104|  281|   63|   79|   70|  101|  210|  -90|   28|  172| CUS_0x1037|   2024-09-01|
| 199| 157| -33|  43| 119| 391|   4| 124| 222|  317|   70|   55|  107|  115|  151|   11|    6|  -70| -110|   86| CUS_0x1037|   2024-10-01|
| 287| 121|  23| 237|  35|  88| 180|  -4|  72|   48|  215|  113|   85|   63|  146|  -10|   44|  177| -111|  115| CUS_0x1037|   2024-11-01|
| 145| 189| 109| 134| 196| -37| 101|  82| 111|   24|  -26|  -17|   65|  249|  200|  185|  -83|  -18|  -76|   30| CUS_0x1037|   2024-12-01|
+----+----+----+----+----+----+----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----------+-------------+

In [96]:
df = spark.read.parquet("datamart/silver/feature_clickstream/*.parquet")

# List of feature columns
features = [f"fe_{i}" for i in range(1, 21)]

# Aggregate: mean, stddev, min, max per customer
agg_exprs = []
for feat in features:
    agg_exprs += [
        F.mean(feat).alias(f"{feat}_mean"),
        F.stddev(feat).alias(f"{feat}_std"),
        F.min(feat).alias(f"{feat}_min"),
        F.max(feat).alias(f"{feat}_max"),
    ]

agg_df = df.groupBy("Customer_ID").agg(*agg_exprs)

# Create window to get first and last values per customer ordered by snapshot_date
w = Window.partitionBy("Customer_ID").orderBy("snapshot_date")
w_desc = Window.partitionBy("Customer_ID").orderBy(F.col("snapshot_date").desc())

# Add first and last values of each feature
for feat in features:
    df = df.withColumn(f"{feat}_first", F.first(feat).over(w))
    df = df.withColumn(f"{feat}_last", F.first(feat).over(w_desc))
    df = df.withColumn(f"{feat}_delta", F.col(f"{feat}_last") - F.col(f"{feat}_first"))

# # Select only the last row per customer (to avoid duplicates in the deltas)
df_deltas = df.withColumn("rn", F.row_number().over(w_desc)) \
              .filter(F.col("rn") == 1) \
              .select("Customer_ID", *[f"{feat}_delta" for feat in features])

clickstreams = agg_df.join(df_deltas, on = "Customer_ID", how = "left")
clickstreams.where(F.col("Customer_ID") == "CUS_0x6ba9").show()

clickstreams.count()

+-----------+------------------+-----------------+--------+--------+-----------------+------------------+--------+--------+---------+-----------------+--------+--------+---------+------------------+--------+--------+-----------------+----------------+--------+--------+---------+-----------------+--------+--------+-----------------+------------------+--------+--------+---------+-----------------+--------+--------+------------------+------------------+--------+--------+------------------+------------------+---------+---------+----------+-----------------+---------+---------+----------+------------------+---------+---------+----------+------------------+---------+---------+----------+----------------+---------+---------+-----------------+----------------+---------+---------+-----------------+-----------------+---------+---------+-----------------+-----------------+---------+---------+------------------+------------------+---------+---------+-----------------+------------------+---------+---------+----------+------------------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|Customer_ID|         fe_1_mean|         fe_1_std|fe_1_min|fe_1_max|        fe_2_mean|          fe_2_std|fe_2_min|fe_2_max|fe_3_mean|         fe_3_std|fe_3_min|fe_3_max|fe_4_mean|          fe_4_std|fe_4_min|fe_4_max|        fe_5_mean|        fe_5_std|fe_5_min|fe_5_max|fe_6_mean|         fe_6_std|fe_6_min|fe_6_max|        fe_7_mean|          fe_7_std|fe_7_min|fe_7_max|fe_8_mean|         fe_8_std|fe_8_min|fe_8_max|         fe_9_mean|          fe_9_std|fe_9_min|fe_9_max|        fe_10_mean|         fe_10_std|fe_10_min|fe_10_max|fe_11_mean|        fe_11_std|fe_11_min|fe_11_max|fe_12_mean|         fe_12_std|fe_12_min|fe_12_max|fe_13_mean|         fe_13_std|fe_13_min|fe_13_max|fe_14_mean|       fe_14_std|fe_14_min|fe_14_max|       fe_15_mean|       fe_15_std|fe_15_min|fe_15_max|       fe_16_mean|        fe_16_std|fe_16_min|fe_16_max|       fe_17_mean|        fe_17_std|fe_17_min|fe_17_max|        fe_18_mean|         fe_18_std|fe_18_min|fe_18_max|       fe_19_mean|         fe_19_std|fe_19_min|fe_19_max|fe_20_mean|         fe_20_std|fe_20_min|fe_20_max|fe_1_delta|fe_2_delta|fe_3_delta|fe_4_delta|fe_5_delta|fe_6_delta|fe_7_delta|fe_8_delta|fe_9_delta|fe_10_delta|fe_11_delta|fe_12_delta|fe_13_delta|fe_14_delta|fe_15_delta|fe_16_delta|fe_17_delta|fe_18_delta|fe_19_delta|fe_20_delta|
+-----------+------------------+-----------------+--------+--------+-----------------+------------------+--------+--------+---------+-----------------+--------+--------+---------+------------------+--------+--------+-----------------+----------------+--------+--------+---------+-----------------+--------+--------+-----------------+------------------+--------+--------+---------+-----------------+--------+--------+------------------+------------------+--------+--------+------------------+------------------+---------+---------+----------+-----------------+---------+---------+----------+------------------+---------+---------+----------+------------------+---------+---------+----------+----------------+---------+---------+-----------------+----------------+---------+---------+-----------------+-----------------+---------+---------+-----------------+-----------------+---------+---------+------------------+------------------+---------+---------+-----------------+------------------+---------+---------+----------+------------------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
| CUS_0x6ba9|114.20833333333333|110.5751678887407|     -64|     382|96.95833333333333|108.57955575308011|     -99|     265|    129.0|86.51262787945294|     -26|     312|  125.875|104.19643342807102|    -103|     324|89.54166666666667|108.524082347078|    -155|     216|  101.375|100.9669823345193|     -70|     280|88.91666666666667|112.86079022855765|    -108|     348|     82.5|82.84348784461498|     -91|     217|112.29166666666667|110.81142586145744|     -80|     363|131.20833333333334|101.03592953979795|     -101|      274|    90.875|92.78554633506046|     -149|      236|    66.875|120.39186470420883|     -210|      309|     121.0|110.14456903069039|      -52|      335|    74.375|97.4825792686548|     -139|      267|96.08333333333333|109.601220505211|     -124|      292|97.66666666666667|96.34614527911808|      -56|      294|86.20833333333333|101.0423842048331|      -62|      310|142.58333333333334|122.30678343968628|     -100|      340|93.83333333333333|119.86901063304448|     -172|      352|   153.125|103.34968605997625|      -48|      397|        35|        64|       -87|       109|        91|        98|        67|       108|         7|       -151|        237|         10|         20|        -31|       -169|          4|        126|       -232|        180|       -352|
+-----------+------------------+-----------------+--------+--------+-----------------+------------------+--------+--------+---------+-----------------+--------+--------+---------+------------------+--------+--------+-----------------+----------------+--------+--------+---------+-----------------+--------+--------+-----------------+------------------+--------+--------+---------+-----------------+--------+--------+------------------+------------------+--------+--------+------------------+------------------+---------+---------+----------+-----------------+---------+---------+----------+------------------+---------+---------+----------+------------------+---------+---------+----------+----------------+---------+---------+-----------------+----------------+---------+---------+-----------------+-----------------+---------+---------+-----------------+-----------------+---------+---------+------------------+------------------+---------+---------+-----------------+------------------+---------+---------+----------+------------------+---------+---------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+

8974